.footer {
  background: #000;
  padding: 68px 0 44px;

  @media screen and (min-width: 1024px) and (max-width: 1320px) {
    padding: vw(68px) 0 vw(44px);
  }

  @media screen and (max-width: 1023px) {
    padding: 40px 0 20px;
  }

  &__logo {
    display: inline-flex;

    img {
      max-width: 190px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        max-width: vw(190px);
      }
    }

    @media screen and (max-width: 1023px) {
      margin-bottom: 40px;
    }
  }

  &__phone {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 5px;
    display: block;
    text-decoration: none;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(16px);
      margin-bottom: vw(5px);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__email {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 24px;
    display: block;
    text-decoration: none;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(16px);
      margin-bottom: vw(24px);
    }

    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: 1023px) {
      margin-bottom: 40px;
    }
  }

  &__social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 32px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(32px);
    }

    li {
      a {
        svg {
          width: 24px;
          height: 24px;
          transition: $transition-duration;

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            width: vw(24px);
            height: vw(24px);
          }
        }

        color: #fff;
        transition: $transition-duration;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  &__address {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: block;
    text-decoration: none;
    max-width: 166px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(16px);
      max-width: vw(166px);
    }

    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: 1023px) {
      margin-left: 0;
      margin-right: 0;
      margin-top: 40px;
    }
  }

  &__col {
    margin-top: 60px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      margin-top: vw(60px);
    }

    .ms-lg-auto {
      max-width: 235px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        max-width: vw(235px);
      }
    }

    @media screen and (max-width: 1023px) {
      margin-top: 40px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 235px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(4px);
      max-width: vw(235px);
    }

    li {
      color: #9CA3AF;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 26px;
      /* 162.5% */
      transition: $transition-duration;
      text-decoration: none;
      display: flex;
      align-items: center;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(16px);
        line-height: vw(26px);
      }


      span {
        min-width: 113px;
        margin-left: auto;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          min-width: vw(113px);
        }
      }

      a {
        color: #9CA3AF;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        /* 162.5% */
        transition: $transition-duration;
        text-decoration: none;
        display: flex;
        align-items: center;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          font-size: vw(16px);
          line-height: vw(26px);
        }


        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__title {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 9px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(16px);
      margin-bottom: vw(9px);
    }
  }

  p {
    color: #9CA3AF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    /* 162.5% */
    margin-top: 60px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(16px);
      line-height: vw(26px);
      margin-top: vw(60px);
    }

    @media screen and (max-width: 1023px) {
      margin-top: 40px;
    }
  }
}