.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #000;
  padding: 26px 0;
  transition: $transition-duration;
  z-index: 1000;

  &.scroll {
    .navigation-menu-contacts-phone {
      span {
        display: block;

        @media screen and (max-width: 1023px) {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 1023px) {
    padding: 14px 0;
  }

  .mobile-btn {
    background: 0 0;
    border: 0;
    padding: 0;

    .close {
      display: none;
    }

    &.active {
      .open {
        display: none;
      }

      .close {
        display: block;
      }
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1320px) {
    padding: vw(26px) 0;
  }

  &-logo {
    max-width: 152px;
    transition: $transition-duration;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      max-width: vw(152px);
    }
    img {
      width: 132px;
      height: 132px;
      transition: $transition-duration;
      border-radius: 50%;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        width: vw(132px);
        height: vw(132px);
      }

      @media screen and (max-width: 1023px) {
        height: 40px;
        width: 140px;
        min-width: 140px;
        border-radius: 0;
      }
    }

    @media screen and (max-width: 1023px) {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-text {
      color: #FFF;
      font-family: "Josefin Sans";
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px; /* 94.444% */
      letter-spacing: -0.72px;
      text-transform: uppercase;
      max-width: 297px;
      margin-top: 12px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(36px);
        line-height: vw(34px); 
        letter-spacing: vw(-0.72px);
        max-width: vw(297px);
        margin-top: vw(12px);
      }
    }
  }

  &-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  &-content {
    max-width: calc(100% - 156px);
    transition: $transition-duration;
    margin-left: auto;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      max-width: calc(100% - vw(156px));
    }
  }

  &-contacts {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(32px);
    }

    li {
      a {
        display: flex;
        min-width: 168px;
        align-items: center;
        gap: 6px;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-wrap: nowrap;
        text-decoration: none;
        transition: $transition-duration;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          min-width: vw(168px);
          gap: vw(6px);
          font-size: vw(16px);
        }

        .icon {
          min-width: 20px;
          width: 20px;
          height: 20px;

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            min-width: vw(20px);
            width: vw(20px);
            height: vw(20px);
          }
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    padding: 4px 0;
    margin: 0;

    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(32px);
      padding: vw(4px) 0;
    }

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: -120vw;
      width: 100vw;
      background: #fff;
      align-items: flex-start;
      padding: 32px 20px;
      height: calc(100vh - 120px);
      overflow-y: auto;
      z-index: -999999999999999999;
      transition: $transition-duration;
    }

    &.active {
      @media screen and (max-width: 1023px) {
        opacity: 1;
        left: 0;
        z-index: 999;
      }
    }

    .col-lg, .col-lg-12 {
      padding-left: 20px;
      padding-right: 20px;
    }

    >li {
      >a {
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-style: normal;
        font-weight: 350;
        line-height: normal;
        text-decoration: none;
        transition: $transition-duration;
        text-wrap: nowrap;
        padding: 6px 0;
        position: relative;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          font-size: vw(16px);
          padding: vw(6px) 0;
        }

        @media screen and (max-width: 1023px) {
          color: #000;
          font-size: 24px;
          line-height: 40px;
        }

        &::before {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          transition: $transition-duration;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #FFF;

          @media screen and (max-width: 1023px) {
            background: #000;
          }
        }

        &:after {
          content: "";
          display: block;
          height: calc(100% + 32px);
          width: 100%;
          position: absolute;
          top: 6px;
          left: 0;
        }

        &:hover {
          color: #FFF;

          @media screen and (max-width: 1023px) {
            color: #000;
          }

          &:before {
            width: 100%;
          }
        }
      }

      >.icon {
        width: 32px;
        height: 32px;
      }

      @media screen and (max-width: 1023px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

    }

    &-submenu {
      position: absolute;
      top: 100%;
      left: 0;
      background: #FFF;
      box-shadow: 0px 4px 11.8px 0px rgba(0, 0, 0, 0.15);
      padding: 30px 0;
      border-radius: 8px;
      z-index: 1001;
      display: none;
      width: 100vw;
      z-index: 9;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        padding: vw(30px) 0;
      }

      @media screen and (max-width: 1023px) {
        top: 0;
        height: 100vh;
        max-height: calc(100vh - 60px);
        box-shadow: 0 0;
      }

      &.open {
        @media screen and (max-width: 1023px) {
          display: block;
        }
      }

      .close-submenu {
        display: none;

        @media screen and (max-width: 1023px) {
          display: flex;
          align-items: center;
          gap: 16px;
          color: #000;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          margin-bottom: -20px;
          position: relative;
          z-index: 9;
        }
      }

      .col-lg {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1024px) {
          gap: 16px;
        }

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          gap: vw(16px);
        }
      }

      &-cat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        @media screen and (max-width: 1023px) {
          margin-top: 60px;
        }

        &.active {
          @media screen and (max-width: 1023px) {
            margin-bottom: 0;

            .icon {
              transform: rotate(-180deg);
            }
          }
        }


        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          margin-bottom: vw(16px);
        }

        a {
          color: #000;
          font-size: 24px;
          font-style: normal;
          font-weight: 350;
          line-height: 1; /* 166.667% */
          text-decoration: none;
          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            font-size: vw(24px);
          }
          &:hover {
            text-decoration: underline;
          }
        }

        svg {
          width: 32px;
          height: 32px;
          transition: $transition-duration;
          display: none;

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            width: vw(32px);
            height: vw(32px);
          }

          @media screen and (max-width: 768px) {
            display: block;            
          }
        }
      }

      &-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (max-width: 1023px) {
          display: none;
          padding: 24px 16px 0;
        }

        &.active {
          @media screen and (max-width: 1023px) {
            display: flex;
          }
        }

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          gap: vw(16px);
        }

        li {
          a {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 350;
            text-decoration: none;
            line-height: 18px; /* 128.571% */

            @media screen and (max-width: 1023px) {
              font-size: 18px;
            }


            @media screen and (min-width: 1024px) and (max-width: 1320px) {
              font-size: vw(14px);
              line-height: vw(18px);
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }

        &.all-brands {
          @media screen and (min-width: 768px) {
            margin-top: 60px;
          }

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            margin-top: vw(60px);
          }

          a {
            display: flex;
            align-items: center;
            gap: 6px;

            @media screen and (min-width: 1024px) and (max-width: 1320px) {
              gap: vw(6px);
            }

            svg {
              width: 20px;
              height: 20px;

              @media screen and (min-width: 1024px) and (max-width: 1320px) {
                width: vw(20px);
                height: vw(20px);
              }
            }

          }
        }
      }

      &-card {
        position: relative;

        @media screen and (max-width: 1023px) {
          margin-top: 32px;

          &.first-child {
            margin-top: 52px;
          }
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(340deg, rgba(0, 0, 0, 0.00) 36.85%, rgba(0, 0, 0, 0.35) 67.23%);
          z-index: 1;
        }
        &-text {
          position: absolute;
          top: 24px;
          left: 24px;
          right: 24px;;
          z-index: 2;

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            top: vw(24px);
            left: vw(24px);
          }

          .title {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 28px; /* 116.667% */
            margin-bottom: 16px;

            @media screen and (min-width: 1024px) and (max-width: 1320px) {
              font-size: vw(24px);
              line-height: vw(28px);
              margin-bottom: vw(16px);
            }
          }

          p {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 350;
            line-height: 16px; /* 114.286% */

            @media screen and (min-width: 1024px) and (max-width: 1320px) {
              font-size: vw(14px);
              line-height: vw(16px);
            }
          }
        }
      }
    }

    &-contacts {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;

      a {
        &:before {
          display: none !important;
        }
      }

      &-phone {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 10px;
        opacity: 1;
  
        span {
          display: none;
        }
      }

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        gap: vw(20px);
      }

      .icon {
        width: 32px;
        height: 32px;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          width: vw(32px);
          height: vw(32px);
        }
      }

      a {
        color: rgba(255, 255, 255, 0.80);
        font-size: 16px;
        font-style: normal;
        font-weight: 350;
        line-height: normal;
        text-decoration: none;
        transition: $transition-duration;
        text-wrap: nowrap;
        padding: 6px 0;
        position: relative;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          font-size: vw(16px);
          padding: vw(6px) 0;
        }

        &::before {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          transition: $transition-duration;
          position: absolute;
          bottom: 0;
          left: 0;
          background: #FFF;
        }

        &:hover {
          color: #FFF;

          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  &.scroll {
    @media screen and (min-width: 1024px) {
      padding: 24px 0;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      padding: vw(24px) 0;
    }
    .navigation-top {
      display: none;
    }

    .navigation {
      &-logo {
        max-width: 76px;
        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          max-width: vw(76px);
        }

        @media screen and (max-width: 1023px) {
          max-width: fit-content;
        }

        img {
          max-width: 140px;

          @media screen and (min-width: 1024px) {
            width: 52px;
            height: 54px;
          }

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            width: vw(52px);
            height: vw(54px);
          }
        }
      }

      &-content {
        max-width: calc(100% - 100px);

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          max-width: calc(100% - vw(100px));
        }
      }
    }
  }
}

.banner-info {
  background: rgba(180, 88, 255, 0.64);
  backdrop-filter: blur(12px);
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 350;
  line-height: 1.4;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 52px;
  padding-right: 52px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  transition: $transition-duration;
  min-height: 56px;
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  @media screen and (max-width: 1023px) {
    font-size: 16px;
    text-align: left;
    padding: 8px 20px;
    justify-content: flex-start;

    span {
      display: inline-block;
      max-width: 308px;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1320px) {
    font-size: vw(18px);
    padding-top: vw(12px);
    padding-bottom: vw(12px);
    padding-left: vw(52px);
    padding-right: vw(52px);
    min-height: vw(56px);
  }

  .icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 12px;
    right: 20px;
    cursor: pointer;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      width: vw(32px);
      height: vw(32px);
      top: vw(12px);
      right: vw(20px);
    }

    @media screen and (max-width: 1023px) {
      width: 20px;
      height: 20px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}