<div class="search-cards">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-6">
            <div class="product__card fade-in">
              <div class="product__image">
                <img src="images/photo-frame-2.webp" alt="photo-frame-2">
              </div>

              <div class="product__footer">
                <div class="product__footer-row">
                  <div>
                    <div class="product__brand">Natuzzi Italia</div>
                    <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                  </div>
                  <button class="product__add">
                    <svg class="icon">
                      <use xlink:href="#add-card"></use>
                    </svg>
                  </button>
                </div>

                <div class="product__price">$ 5,200.00</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="product__card fade-in">
              <div class="product__image">
                <img src="images/photo-frame-2.webp" alt="photo-frame-2">
              </div>

              <div class="product__footer">
                <div class="product__footer-row">
                  <div>
                    <div class="product__brand">Natuzzi Italia</div>
                    <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                  </div>
                  <button class="product__add">
                    <svg class="icon">
                      <use xlink:href="#add-card"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__price">$ 5,200.00</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="product__card fade-in">
              <div class="product__image">
                <img src="images/photo-frame-2.webp" alt="photo-frame-2">
              </div>

              <div class="product__footer">
                <div class="product__footer-row">
                  <div>
                    <div class="product__brand">Natuzzi Italia</div>
                    <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                  </div>
                  <button class="product__add">
                    <svg class="icon">
                      <use xlink:href="#add-card"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__price">$ 5,200.00</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="product__card fade-in">
              <div class="product__image">
                <img src="images/photo-frame-2.webp" alt="photo-frame-2">
              </div>

              <div class="product__footer">
                <div class="product__footer-row">
                  <div>
                    <div class="product__brand">Natuzzi Italia</div>
                    <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                  </div>
                  <button class="product__add">
                    <svg class="icon">
                      <use xlink:href="#add-card"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__price">$ 5,200.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product__card product__card--large fade-in">
          <div class="product__image">
            <img src="images/photo-frame-2.webp" alt="photo-frame-2">
          </div>

          <div class="product__footer">
            <div class="product__footer-row">
              <div>
                <div class="product__brand">Natuzzi Italia</div>
                <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
              </div>
              <button class="product__add">
                <svg class="icon">
                  <use xlink:href="#add-card"></use>
                </svg>
              </button>
            </div>
            <div class="product__price">$ 5,200.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="product__card fade-in">
          <div class="product__image">
            <img src="images/photo-frame-2.webp" alt="photo-frame-2">
          </div>

          <div class="product__footer">
            <div class="product__footer-row">
              <div>
                <div class="product__brand">Natuzzi Italia</div>
                <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
              </div>
              <button class="product__add">
                <svg class="icon">
                  <use xlink:href="#add-card"></use>
                </svg>
              </button>
            </div>
            <div class="product__price">$ 5,200.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="product__card fade-in">
          <div class="product__image">
            <img src="images/photo-frame-2.webp" alt="photo-frame-2">
          </div>

          <div class="product__footer">
            <div class="product__footer-row">
              <div>
                <div class="product__brand">Natuzzi Italia</div>
                <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
              </div>
              <button class="product__add">
                <svg class="icon">
                  <use xlink:href="#add-card"></use>
                </svg>
              </button>
            </div>
            <div class="product__price">$ 5,200.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="product__card fade-in">
          <div class="product__image">
            <img src="images/photo-frame-2.webp" alt="photo-frame-2">
          </div>

          <div class="product__footer">
            <div class="product__footer-row">
              <div>
                <div class="product__brand">Natuzzi Italia</div>
                <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
              </div>
              <button class="product__add">
                <svg class="icon">
                  <use xlink:href="#add-card"></use>
                </svg>
              </button>
            </div>
            <div class="product__price">$ 5,200.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="product__card fade-in">
          <div class="product__image">
            <img src="images/photo-frame-2.webp" alt="photo-frame-2">
          </div>

          <div class="product__footer">
            <div class="product__footer-row">
              <div>
                <div class="product__brand">Natuzzi Italia</div>
                <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
              </div>
              <button class="product__add">
                <svg class="icon">
                  <use xlink:href="#add-card"></use>
                </svg>
              </button>
            </div>
            <div class="product__price">$ 5,200.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product__card product__card--large fade-in">
          <div class="product__image">
            <img src="images/photo-frame-2.webp" alt="photo-frame-2">
          </div>

          <div class="product__footer">
            <div class="product__footer-row">
              <div>
                <div class="product__brand">Natuzzi Italia</div>
                <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
              </div>
              <button class="product__add">
                <svg class="icon">
                  <use xlink:href="#add-card"></use>
                </svg>
              </button>
            </div>
            <div class="product__price">$ 5,200.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-6">
            <div class="product__card fade-in">
              <div class="product__image">
                <img src="images/photo-frame-2.webp" alt="photo-frame-2">
              </div>

              <div class="product__footer">
                <div class="product__footer-row">
                  <div>
                    <div class="product__brand">Natuzzi Italia</div>
                    <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                  </div>
                  <button class="product__add">
                    <svg class="icon">
                      <use xlink:href="#add-card"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__price">$ 5,200.00</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="product__card fade-in">
              <div class="product__image">
                <img src="images/photo-frame-2.webp" alt="photo-frame-2">
              </div>

              <div class="product__footer">
                <div class="product__footer-row">
                  <div>
                    <div class="product__brand">Natuzzi Italia</div>
                    <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                  </div>
                  <button class="product__add">
                    <svg class="icon">
                      <use xlink:href="#add-card"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__price">$ 5,200.00</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="product__card fade-in">
              <div class="product__image">
                <img src="images/photo-frame-2.webp" alt="photo-frame-2">
              </div>

              <div class="product__footer">
                <div class="product__footer-row">
                  <div>
                    <div class="product__brand">Natuzzi Italia</div>
                    <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                  </div>
                  <button class="product__add">
                    <svg class="icon">
                      <use xlink:href="#add-card"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__price">$ 5,200.00</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="product__card fade-in">
              <div class="product__image">
                <img src="images/photo-frame-2.webp" alt="photo-frame-2">
              </div>

              <div class="product__footer">
                <div class="product__footer-row">
                  <div>
                    <div class="product__brand">Natuzzi Italia</div>
                    <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                  </div>
                  <button class="product__add">
                    <svg class="icon">
                      <use xlink:href="#add-card"></use>
                    </svg>
                  </button>
                </div>
                <div class="product__price">$ 5,200.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="product__card fade-in">
          <div class="product__image">
            <img src="images/photo-frame-2.webp" alt="photo-frame-2">
          </div>

          <div class="product__footer">
            <div class="product__footer-row">
              <div>
                <div class="product__brand">Natuzzi Italia</div>
                <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
              </div>
              <button class="product__add">
                <svg class="icon">
                  <use xlink:href="#add-card"></use>
                </svg>
              </button>
            </div>
            <div class="product__price">$ 5,200.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="product__card fade-in">
          <div class="product__image">
            <img src="images/photo-frame-2.webp" alt="photo-frame-2">
          </div>

          <div class="product__footer">
            <div class="product__footer-row">
              <div>
                <div class="product__brand">Natuzzi Italia</div>
                <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
              </div>
              <button class="product__add">
                <svg class="icon">
                  <use xlink:href="#add-card"></use>
                </svg>
              </button>
            </div>
            <div class="product__price">$ 5,200.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="product__card fade-in">
          <div class="product__image">
            <img src="images/photo-frame-2.webp" alt="photo-frame-2">
          </div>

          <div class="product__footer">
            <div class="product__footer-row">
              <div>
                <div class="product__brand">Natuzzi Italia</div>
                <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
              </div>
              <button class="product__add">
                <svg class="icon">
                  <use xlink:href="#add-card"></use>
                </svg>
              </button>
            </div>
            <div class="product__price">$ 5,200.00</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="product__card fade-in">
          <div class="product__image">
            <img src="images/photo-frame-2.webp" alt="photo-frame-2">
          </div>

          <div class="product__footer">
            <div class="product__footer-row">
              <div>
                <div class="product__brand">Natuzzi Italia</div>
                <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
              </div>
              <button class="product__add">
                <svg class="icon">
                  <use xlink:href="#add-card"></use>
                </svg>
              </button>
            </div>
            <div class="product__price">$ 5,200.00</div>
          </div>
        </div>
      </div>
    </div>

    <div class="search-cards__footer">
      <p>22 out of 296 results shown </p>
      <div class="search-cards__buttons">
        <button class="btn btn-dark">Show next 22</button>
        <button class="btn btn-primary">Show all</button>
      </div>
    </div>
  </div>
</div>