<header class="search-header">
  <div class="container-xxl">
    <h1 class="search-header__title">Search Results</h1>

    <div class="search-header__item">
      <h2>Nothing was found</h2>
      <p>Please return to our home page or contact us if you can't find what you are looking for.</p>
      <div class="walk-in-closets__btn-group">
        <a href="index.html" class="btn btn-dark"><span>Go to home page</span></a>
        <a href="#" class="btn btn-primary">
          <span>Contact Us</span> 
          <svg class="icon">
            <use xlink:href="#arr-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>