<header class="search-header">
  <div class="container-xxl">
    <h1 class="search-header__title">Search Results <span>1 296 results</span></h1>

    {% include "../../partials/filters.njk" %}
  </div>
</header>