<header class="product-header">
  <div class="container-xxl">
    <ul class="breadcrumbs current-mod">
      <li><a href="#">Furniture</a></li>
      <li><a href="#">Living</a></li>
      <li><a href="#">Modern Sofas & sectionals</a></li>
      <li>Dellarobbia chase</li>
    </ul>

    <div class="row">
      <div class="col-lg-7 d-none d-lg-block">
        <div class="product-gallery">
          <div class="product-gallery__slider">
            {% for i in range(1, 6) %}
              <div class="product-gallery__slider-item">
                <img src="images/dinning-room-{{ i }}.webp" alt="dinning-room-{{ i }}">
              </div>
            {% endfor %}
            {% for i in range(1, 6) %}
            <div class="product-gallery__slider-item">
              <img src="images/kitchens-{{ i }}.webp" alt="kitchens-{{ i }}">
            </div>
          {% endfor %}
          </div>
          <div class="product-gallery__slider-nav">
            {% for i in range(1, 6) %}
              <div class="product-gallery__slider-nav-item">
                <img src="images/dinning-room-{{ i }}.webp" alt="dinning-room-{{ i }}">
              </div>
            {% endfor %}
            {% for i in range(1, 6) %}
            <div class="product-gallery__slider-nav-item">
              <img src="images/kitchens-{{ i }}.webp" alt="kitchens-{{ i }}">
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="notice">
          <div class="notice__icon">
            <svg class="icon">
              <use xlink:href="#notice-check"></use>
            </svg>
          </div>

          <div class="notice__content">
            Request sent! We will contact you as soon as possible!
          </div>

          <div class="notice__close" data-notice-close>
            <svg class="icon">
              <use xlink:href="#close"></use>
            </svg>
          </div>
        </div>
        <div class="product-info">
          <div class="product-info__brand">Natuzzi Italia</div>
          <h2 class="product-info__title">Eliot Wood Drive Dining Table</h2>
          <p class="product-info__text">
            Crafted with premium materials and meticulous attention to detail, it provides exceptional support and durability while maintaining a sleek, stylish appearance. Its spacious design makes it ideal for both lounging and entertaining, while customizable finishes allow you to tailor it to your personal aesthetic. 
          </p>

          <button type="button" class="product-info__text-btn">Read more</button>

          <div class="d-lg-none">
            <div class="product-gallery">
              <div class="product-gallery__slider">
                {% for i in range(1, 6) %}
                  <div class="product-gallery__slider-item">
                    <img src="images/dinning-room-{{ i }}.webp" alt="dinning-room-{{ i }}">
                  </div>
                {% endfor %}
                {% for i in range(1, 6) %}
                <div class="product-gallery__slider-item">
                  <img src="images/kitchens-{{ i }}.webp" alt="kitchens-{{ i }}">
                </div>
              {% endfor %}
              </div>
              <div class="product-gallery__slider-nav">
                {% for i in range(1, 6) %}
                  <div class="product-gallery__slider-nav-item">
                    <img src="images/dinning-room-{{ i }}.webp" alt="dinning-room-{{ i }}">
                  </div>
                {% endfor %}
                {% for i in range(1, 6) %}
                <div class="product-gallery__slider-nav-item">
                  <img src="images/kitchens-{{ i }}.webp" alt="kitchens-{{ i }}">
                </div>
              {% endfor %}
              </div>
            </div>
          </div>

          <div class="product-info__types">
            <button type="button" class="btn btn-primary btn-outline product-info__texture" data-sidebar="textures-sidebar">
              <svg class="icon">
                <use xlink:href="#texture"></use>
              </svg>
              <span><span class="d-none d-md-inline">Select</span> finish</span>

              <div class="exemple">
                <svg class="icon-arrow">
                  <use xlink:href="#arr-down"></use>
                </svg>
              </div>
            </button>
            <!-- <button type="button" class="btn btn-primary btn-outline product-info__texture" data-texture>
              <svg class="icon">
                <use xlink:href="#texture"></use>
              </svg>
              <span><span class="d-none d-md-inline">Select</span> finish</span>

              <div class="exemple">
                <span>With leather pad – $4,000</span>
                <img src="images/texture.webp" alt="">
              </div>
            </button> -->
            <button type="button" class="btn btn-primary btn-outline product-info__composition" data-sidebar="sidebar-composition">
              <svg class="icon">
                <use xlink:href="#composition"></use>
              </svg>
              <span><span class="d-none d-md-inline">Select</span> composition</span>

              <div class="exemple">
                <svg class="icon-arrow">
                  <use xlink:href="#arr-down"></use>
                </svg>
              </div>
            </button>
          </div>

          <div class="product-info__price-quantity">
            <div class="product-info__price-quantity-item-title">Quantity</div>
            <div class="input-counter">
              <button class="input-counter-button minus">
                <svg class="icon">
                  <use xlink:href="#minus"></use>
                </svg>
              </button>
              <input type="number" value="1" min="1" max="999">
              <button class="input-counter-button plus">
                <svg class="icon">
                  <use xlink:href="#plus"></use>
                </svg>
              </button>
            </div>
          </div>

          <div class="product-info__price">From $5,200.00</div>
          <div class="product-info__ships danger">
            <svg class="icon">
              <use xlink:href="#quick-shipping"></use>
            </svg>
          
            <span>Usually ships in 12 to 14 weeks</span>
          </div>

          <div class="product-info__buttons">
            <button type="button" class="btn btn-dark product-info__add-to-card">
              <svg class="icon">
                <use xlink:href="#add-to-card"></use>
              </svg>
              <span>Add to Card</span>
            </button>
            <button type="button" class="btn btn-dark product-info__request" data-sidebar="request-price">
              <span>Request a price</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>