<section class="other-overview">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1">
        <div class="other-overview__content">
          <ul class="other-overview__content-nav">
            <li><a href="#overview">Overview</a></li>
            <li><a href="#technical">Technical Informations</a></li>
            <li><a href="#shipping">Shipping</a></li>
          </ul>
          <div class="nav-content-item" id="overview">
            <h2>Overview</h2>
            <p>Remember those amazing bedroom scenes from classic films? Whether it's Dustin Hoffman kneeling behind Ann Bancroft on what looks like her daughter's bed in The Graduate, or Audrey Hepburn sprawled out on the bed of her Manhattan flat with her orange cat perched on her back. These iconic scenes would fade from memory had they not been set in an exquisitely designed boudoir. Enter the Fenice bed by Natuzzi Italia, as at home on the set of a Franco Zeffirelli film as it is in your guest bedroom. This sleep system has the authenticity and timeless elegance it takes to make any interior a classic scene.</p>
          </div>

          <div class="nav-content-item" id="technical">
            <h2>Technical Informations</h2>
            <p>
              - Queen size bed: 67"W x 92"D x 37"H
            </p>
            <p>- King size bed: 83"W x 92"D x 37"H</p>
          </div>

          <div class="nav-content-item" id="shipping">
            <h2>Shipping</h2>
            <p>Your furniture will be delivered on time and in perfect condition just the way you ordered it. You'll get the same great service whether you choose full-service white glove delivery, our economical standard curbside service, or upgrade your standard service to Room-of-Choice. Our delivery services department will make sure your order is handled perfectly. Please note that online orders can only be shipped within the 48 continental United States.</p>
          </div>

          <div class="nav-content-item">
            <h4>Standard Shipping</h4>
            <p>Provides delivery to your door (apartment and multi-unit buildings are inside the main entrance) generally in 14 to 21 business days. Large items are shipped via a carrier truck service that provides the best service in your area. This option is the most cost effective, but please note that it does not include moving the piece into your residence or office and does not include any assembly. The customer is responsible for unpacking and completing any assembly that is necessary. Our delivery company will contact you within 10 to 12 business days to schedule an appointment to make your delivery. Delivery appointments are available Monday through Friday with hours depending on your area. Saturday deliveries require an additional charge; for a quote please contact us at support@italia-interiors.com</p>
          </div>

          <div class="nav-content-item">
            <h4>White Glove Service</h4>
            <p>Provides the full service with professional delivery, unpacking, and assembly in the intended room. Our delivery company will contact you within 14 to 20 days to schedule an appointment. Delivery appointments are available Monday through Friday with hours depending on your area. Saturday delivery requires an additional charge. Extra fee for white glove delivery will be charged at the shopping cart.</p>
          </div>

          <p class="mb-0"><small>* We don't provide any service in some areas of USA. Please call us for more info.</small></p>

        </div>
      </div>
      <div class="col-lg-4 order-1 order-lg-2">
        <div class="other-overview__sidebar">
          <a download href="#" class="btn btn-dark w-full">
            <svg class="icon">
              <use xlink:href="#pdf-icon"></use>
            </svg>

            <span>PDF Product Sheet</span>
          </a>

          <div class="accordion">
            <div class="accordion__title">
              <span>
                <svg class="icon">
                  <use xlink:href="#design-service-icon"></use>
                </svg>
                Interior Design Service
              </span>
              <svg class="accordion__arrow">
                <use xlink:href="#arr-down"></use>
              </svg>
            </div>

            <div class="accordion__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam aliquid, doloribus neque vel tenetur inventore aperiam quo repellendus labore quidem, perspiciatis incidunt consequatur quia voluptatem quas! Sapiente facere rerum quidem.
            </div>
          </div>

          <div class="accordion">
            <div class="accordion__title">
              <span>
                <svg class="icon">
                  <use xlink:href="#contact-us-icon"></use>
                </svg>
                Contact Us
              </span>
              <svg class="accordion__arrow">
                <use xlink:href="#arr-down"></use>
              </svg>
            </div>

            <div class="accordion__content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum amet illum odio ea, qui iusto. Porro quibusdam officiis fugiat, architecto laboriosam laudantium doloremque consectetur voluptatibus quas magnam. Magnam, nihil soluta?
            </div>
          </div>

          <div class="accordion">
            <div class="accordion__title">
              <span>
                Manufacturer
              </span>
              <svg class="accordion__arrow">
                <use xlink:href="#arr-down"></use>
              </svg>
            </div>

            <div class="accordion__content">
              <div class="accordion__logo">
                <img src="images/frame727.webp" alt="">
              </div>

              <p class="text-short">Cattelan Italia founded in 1979 by Giorgio and Silvia Cattelan, continues to surprise the furniture world by introducing innovative contemporary furniture for the past 35 years. Today, The management of Cattelan Italia was passed on to their son Paolo, who keeps the family tradition of working with some of Italy's most famous designers. Gastone Rinaldi, Yoshino and Emilio Nanni are but a few of the design innovators who've contributed to Cattelan's award-winning collection. At IDI as one of Cattelan dealer USA dealers, we very proud to showcase the largest selection of dining tables, chairs, sideboards, mirrors, in the Boston Metro Area to provide our loyal customers with some options of platform beds, coffee tables, chaise lounge and other contemporary furniture to complete their full interior design concept.</p>

              <div class="text-short-more">Show more</div>
            </div>
          </div>

          <form action="#" class="other-overview__form">
            <h5>Still have questions about this products?</h5>
            <p>We're here to help</p>
            <label for="name">
              <input data-valid="The input provided is incorrect." type="text" class="input-text" name="name" id="name" placeholder="Your name*" required>
            </label>
            <label for="email">
              <input data-valid="The input provided is incorrect." type="email" class="input-text" name="email" id="email" placeholder="Email*" required>
            </label>
            <label for="zip">
              <input data-valid="The input provided is incorrect." type="text" class="input-text" name="zip" id="zip" placeholder="Zip code*" required>
            </label>

            <button type="submit" class="btn btn-dark submit">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>