<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <meta name="Title" content="About Us - Italian Design Interiors" />
  <meta name="description" content="About Us for Italian Design Interiors" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="About Us for Italian Design Interiors" />
  <meta property="og:url" content="" />
  <meta property="og:sitename" content="" />
  <meta property="og:title" content="About Us - Italian Design Interiors">
  <meta property="og:image" content="images/og.webp" />
  <title>About Us - Italian Design Interiors</title>
  <link rel="icon" type="image/png" href="favicon/favicon-96x96.webp" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="favicon/favicon.svg" />
  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.webp" />
  <link rel="manifest" href="favicon/site.webmanifest" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include "partials/icons.njk" %}
  {% include "partials/banner.njk" %}
  {% include "partials/menu.njk" %}

  <main class="about-us">
    <!-- Main Image Section -->
    <section class="about-us__hero">
      <div class="container-xxl">
        <h1 class="about-us__hero-title">
          Became over the years the designer's source for fine Italian furniture.
        </h1>
        <div class="row">
          <div class="col-lg-6 relative">
            <div class="parallax-window about-us__hero-image" data-parallax="scroll" data-image-src="images/about-main-image.webp" data-position="bottom" data-speed="0.5" data-z-index="1"></div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <h1 class="about-us__stats-title">All styles under one roof.</h1>
            <div class="about-us__stats-grid">
              <div class="about-us__stats-item">
                <div class="about-us__stats-number">40+</div>
                <div class="about-us__stats-label">Featured Brands</div>
              </div>
              <div class="about-us__stats-item">
                <div class="about-us__stats-number">25</div>
                <div class="about-us__stats-label">Years Experience</div>
              </div>
            </div>

            <p class="about-us__hero-text">ITALIAN DESIGN INTERIORS is a family owned business that has been operating in the Boston Area for over
              25 years with a wide experience in imported Italian contemporary furniture for any room in the house. We
              are direct importers from over 40 of Italy's leading manufacturers. We have developed a strong
              relationship with our suppliers in Italy and pride ourselves in working with Italy's leading
              manufacturers known for their innovative design and quality.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Italian Design Section -->
    <section class="about-us__italian-design">
      <div class="container-xxl">
        <div class="row">
          <div class="col-lg-4">
            <div class="about-us__italian-design-content">
              <h2 class="about-us__italian-design-title">Italian design</h2>
              <p class="about-us__italian-design-text">
                Our designers work directly with our Italian manufacturers to create unique products for our clients
                needs. By importing directly we offer to our clients the best possible value, selection, and service.
                Italian Design Interiors is a proud member of Boston Society of Architects and NARI.
              </p>
              <button class="btn btn-dark btn-md">Open Trade program</button>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="brands-items">
              <a href="#" class="brands-item fade-in-up">
                <img src="images/brand-1.webp" alt="">
              </a>
              <a href="#" class="brands-item fade-in-up">
                <img src="images/brand-2.webp" alt="">
              </a>
              <a href="#" class="brands-item fade-in-up">
                <img src="images/brand-3.webp" alt="">
              </a>
              <a href="#" class="brands-item fade-in-up">
                <img src="images/brand-4.webp" alt="">
              </a>
              <a href="#" class="brands-item fade-in-up">
                <img src="images/brand-5.webp" alt="">
              </a>
              <a href="#" class="brands-item fade-in-up">
                <img src="images/brand-6.webp" alt="">
              </a>
              <a href="#" class="brands-item fade-in-up">
                <img src="images/brand-7.webp" alt="">
              </a>
              <a href="#" class="brands-item fade-in-up">
                <img src="images/brand-8.webp" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Showroom Section -->
    <section class="about-us__showroom">
      <div class="container-xxl">
        <h2 class="about-us__showroom-title">Our showroom</h2>
        <p class="about-us__showroom-text">
          We invite you to stop by Italian Design Interiors Showroom or call one of our sales staff in order to
          see how we could assist you with your home furnishings and design.
        </p>
        <div class="row">
          <div class="col-lg-4 offset-lg-1">
            <div class="about-us__showroom-content">
              <div class="parallax-window about-us__showroom-image-parallax" data-parallax="scroll" data-image-src="images/about-showroom-2-244f11.webp" data-position="center" data-speed="0.5" data-z-index="1"></div>
              <div class="about-us__showroom-stats">
                <div class="about-us__showroom-stat">400+ units on display</div>
                <div class="about-us__showroom-stat">10 000 sq.f.</div>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="about-us__showroom-images">
              <div class="parallax-window about-us__showroom-image-parallax-2" data-parallax="scroll" data-image-src="images/about-showroom-1.webp" data-position="right" data-speed="0.5"></div>
              <div class="parallax-window about-us__showroom-image-parallax-2" data-parallax="scroll" data-image-src="images/about-showroom-3-698830.webp" data-position="right" data-speed="0.5" data-offset="100"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "components/main-page/reviews.njk" %}
  </main>

  {% include "partials/subscribe.njk" %}
  {% include "partials/footer.njk" %}

  <script defer src="js/bundle.js"></script>
</body>

</html>