<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <meta name="Title" content="Italian Design Interiors" />
  <meta name="description" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="" />
  <meta property="og:sitename" content="" />
  <meta property="og:title" content="Italian Design Interiors">
  <meta property="og:image" content="images/og.png" />
  <title>catalogue - Italian Design Interiors</title>
  <link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="favicon/favicon.svg" />
  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
  <link rel="manifest" href="favicon/site.webmanifest" />
  <link rel="preload" href="images/icons.svg" as="image" type="image/svg+xml">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  {% set page_type = "furniture" %}

  {% include "partials/menu.njk" %}
  <header class="catalogue-header">
    <div class="container-xxl">
      <ul class="breadcrumbs">
        <li><a href="#">Main</a></li>
        <li><a href="#">Furniture</a></li>
        <li>Sofas & sectionals</li>
      </ul>
      <h1 class="catalogue-header__title">Sofas & sectionals <span>1 296 results</span></h1>
  
      <div class="catalogue-header__categories">
        <div class="catalogue-header__categories-inner">
          <h6 class="catalogue-header__categories-title">Category</h6>
          {% include "partials/filters.njk" %}
        </div>
        <div class="catalogue-header__categories-inner">
          <h6 class="catalogue-header__categories-title">Key Features</h6>
          {% include "partials/filters-key-features.njk" %}
        </div>
        <div class="catalogue-header__categories-inner">
          {% include "partials/filters-colors.njk" %}
        </div>
      </div>
    </div>
  </header>

  <main class="overflow-hidden">
    <section class="search-cards">
        <div class="container-xxl">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-6">
                  <div class="product__card fade-in">
                    <div class="product__image">
                      <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                    </div>
      
                    <div class="product__footer">
                      <div class="product__footer-row">
                        <div>
                          <div class="product__brand">Natuzzi Italia</div>
                          <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                        </div>
                        <button class="product__add">
                          <svg class="icon">
                            <use xlink:href="#add-card"></use>
                          </svg>
                        </button>
                      </div>
      
                      <div class="product__price">$ 5,200.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="product__card fade-in">
                    <div class="product__image">
                      <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                    </div>
      
                    <div class="product__footer">
                      <div class="product__footer-row">
                        <div>
                          <div class="product__brand">Natuzzi Italia</div>
                          <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                        </div>
                        <button class="product__add">
                          <svg class="icon">
                            <use xlink:href="#add-card"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="product__price">$ 5,200.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="product__card fade-in">
                    <div class="product__image">
                      <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                    </div>
      
                    <div class="product__footer">
                      <div class="product__footer-row">
                        <div>
                          <div class="product__brand">Natuzzi Italia</div>
                          <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                        </div>
                        <button class="product__add">
                          <svg class="icon">
                            <use xlink:href="#add-card"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="product__price">$ 5,200.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="product__card fade-in">
                    <div class="product__image">
                      <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                    </div>
      
                    <div class="product__footer">
                      <div class="product__footer-row">
                        <div>
                          <div class="product__brand">Natuzzi Italia</div>
                          <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                        </div>
                        <button class="product__add">
                          <svg class="icon">
                            <use xlink:href="#add-card"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="product__price">$ 5,200.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="product__card product__card--large fade-in">
                <div class="product__image">
                  <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                </div>
      
                <div class="product__footer">
                  <div class="product__footer-row">
                    <div>
                      <div class="product__brand">Natuzzi Italia</div>
                      <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    </div>
                    <button class="product__add">
                      <svg class="icon">
                        <use xlink:href="#add-card"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="product__price">$ 5,200.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="product__card fade-in">
                <div class="product__image">
                  <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                </div>
      
                <div class="product__footer">
                  <div class="product__footer-row">
                    <div>
                      <div class="product__brand">Natuzzi Italia</div>
                      <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    </div>
                    <button class="product__add">
                      <svg class="icon">
                        <use xlink:href="#add-card"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="product__price">$ 5,200.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="product__card fade-in">
                <div class="product__image">
                  <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                </div>
      
                <div class="product__footer">
                  <div class="product__footer-row">
                    <div>
                      <div class="product__brand">Natuzzi Italia</div>
                      <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    </div>
                    <button class="product__add">
                      <svg class="icon">
                        <use xlink:href="#add-card"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="product__price">$ 5,200.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="product__card fade-in">
                <div class="product__image">
                  <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                </div>
      
                <div class="product__footer">
                  <div class="product__footer-row">
                    <div>
                      <div class="product__brand">Natuzzi Italia</div>
                      <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    </div>
                    <button class="product__add">
                      <svg class="icon">
                        <use xlink:href="#add-card"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="product__price">$ 5,200.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="product__card fade-in">
                <div class="product__image">
                  <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                </div>
      
                <div class="product__footer">
                  <div class="product__footer-row">
                    <div>
                      <div class="product__brand">Natuzzi Italia</div>
                      <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    </div>
                    <button class="product__add">
                      <svg class="icon">
                        <use xlink:href="#add-card"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="product__price">$ 5,200.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="product__card product__card--large fade-in">
                <div class="product__image">
                  <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                </div>
      
                <div class="product__footer">
                  <div class="product__footer-row">
                    <div>
                      <div class="product__brand">Natuzzi Italia</div>
                      <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    </div>
                    <button class="product__add">
                      <svg class="icon">
                        <use xlink:href="#add-card"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="product__price">$ 5,200.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-6">
                  <div class="product__card fade-in">
                    <div class="product__image">
                      <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                    </div>
      
                    <div class="product__footer">
                      <div class="product__footer-row">
                        <div>
                          <div class="product__brand">Natuzzi Italia</div>
                          <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                        </div>
                        <button class="product__add">
                          <svg class="icon">
                            <use xlink:href="#add-card"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="product__price">$ 5,200.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="product__card fade-in">
                    <div class="product__image">
                      <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                    </div>
      
                    <div class="product__footer">
                      <div class="product__footer-row">
                        <div>
                          <div class="product__brand">Natuzzi Italia</div>
                          <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                        </div>
                        <button class="product__add">
                          <svg class="icon">
                            <use xlink:href="#add-card"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="product__price">$ 5,200.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="product__card fade-in">
                    <div class="product__image">
                      <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                    </div>
      
                    <div class="product__footer">
                      <div class="product__footer-row">
                        <div>
                          <div class="product__brand">Natuzzi Italia</div>
                          <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                        </div>
                        <button class="product__add">
                          <svg class="icon">
                            <use xlink:href="#add-card"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="product__price">$ 5,200.00</div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="product__card fade-in">
                    <div class="product__image">
                      <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                    </div>
      
                    <div class="product__footer">
                      <div class="product__footer-row">
                        <div>
                          <div class="product__brand">Natuzzi Italia</div>
                          <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                        </div>
                        <button class="product__add">
                          <svg class="icon">
                            <use xlink:href="#add-card"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="product__price">$ 5,200.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="product__card fade-in">
                <div class="product__image">
                  <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                </div>
      
                <div class="product__footer">
                  <div class="product__footer-row">
                    <div>
                      <div class="product__brand">Natuzzi Italia</div>
                      <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    </div>
                    <button class="product__add">
                      <svg class="icon">
                        <use xlink:href="#add-card"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="product__price">$ 5,200.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="product__card fade-in">
                <div class="product__image">
                  <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                </div>
      
                <div class="product__footer">
                  <div class="product__footer-row">
                    <div>
                      <div class="product__brand">Natuzzi Italia</div>
                      <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    </div>
                    <button class="product__add">
                      <svg class="icon">
                        <use xlink:href="#add-card"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="product__price">$ 5,200.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="product__card fade-in">
                <div class="product__image">
                  <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                </div>
      
                <div class="product__footer">
                  <div class="product__footer-row">
                    <div>
                      <div class="product__brand">Natuzzi Italia</div>
                      <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    </div>
                    <button class="product__add">
                      <svg class="icon">
                        <use xlink:href="#add-card"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="product__price">$ 5,200.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="product__card fade-in">
                <div class="product__image">
                  <img src="images/photo-frame-2.webp" alt="photo-frame-2">
                </div>
      
                <div class="product__footer">
                  <div class="product__footer-row">
                    <div>
                      <div class="product__brand">Natuzzi Italia</div>
                      <div class="product__name">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                    </div>
                    <button class="product__add">
                      <svg class="icon">
                        <use xlink:href="#add-card"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="product__price">$ 5,200.00</div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pagination -->
           {% include "partials/pagination.njk" %}
        </div>
      </section>

      <section class="narrow-search">
        <div class="container-xxl">
          <h2 class="narrow-search__title">NARROW YOUR SEARCH:</h2>
          <div class="narrow-search__grid">
            <ul class="narrow-search__list">
              <li><a href="#">Leather Sofas</a></li>
              <li><a href="#">Fabric Sectionals</a></li>
              <li><a href="#">L-Shaped Leather Sectionals</a></li>
              <li><a href="#">Large Leather Sofas</a></li>
              <li><a href="#">Motion Sofas</a></li>
              <li><a href="#">Fabric Chaise Sectionals</a></li>
              <li><a href="#">Small Sofas</a></li>
              <li><a href="#">Small Chaise Sectionals</a></li>
              <li><a href="#">Large L-Shaped Sectionals</a></li>
              <li><a href="#">Natuzzi Sofas</a></li>
            </ul>
            <ul class="narrow-search__list">
              <li><a href="#">Fabric Sofas</a></li>
              <li><a href="#">L-Shaped Sectionals</a></li>
              <li><a href="#">Leather Chaise Sectionals</a></li>
              <li><a href="#">Large Leather Sectionals</a></li>
              <li><a href="#">L-Shaped Fabric Sectionals</a></li>
              <li><a href="#">U-Shaped Sectionals</a></li>
              <li><a href="#">Small L-Shaped Sectionals</a></li>
              <li><a href="#">Small Curved Sectionals</a></li>
              <li><a href="#">Sleeper Sofas</a></li>
              <li><a href="#">Natuzzi Sofa Beds</a></li>
            </ul>
            <ul class="narrow-search__list">
              <li><a href="#">Leather Sectionals</a></li>
              <li><a href="#">Leather U-Shaped Sectionals</a></li>
              <li><a href="#">Small Leather Sofa</a></li>
              <li><a href="#">Small Sectionals</a></li>
              <li><a href="#">Chaise Sectionals</a></li>
              <li><a href="#">Curved Sectionals</a></li>
              <li><a href="#">Small U-Shaped Sectionals</a></li>
              <li><a href="#">Large Sofas</a></li>
              <li><a href="#">Natuzzi Quick Ship</a></li>
              <li><a href="#">Natuzzi Motions</a></li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section-catalogue__content">
        <div class="container-xxl">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
              <div class="other-overview__content">
                <section>
                  <div class="nav-content-item">
                    <p>Italian sofas and sectionals are known worldwide for their superior quality, contemporary designs, and unparalleled comfort. With a vast array of shapes, sizes, upholstery, and styles, Italian Interiors Design offers attractive, functional furniture pieces that can transform any living space.</p>
                  </div>
                </section>

                <section>
                  <div class="nav-content-item">
                    <h4>Forms of Italian Sectionals</h4>
                    <p>Practical round tables that can be positioned on either side of this opulent Italian sectional sofa and the accompanying designer lounge chairs, as well as padded backrest and armrest components covered in Italian fabrics or European leathers, are supported by thin tubular metal frames. A variety of solutions and compositions that are all warm and welcoming can be made by combining different widths and heights. Incredibly cozy, high-end sofa with a modern design from leading manufacturers in Italy. IDI offers high-end luxury sectional sofa. Each item is made in Italy.</p>
                    <ul>
                      <li><strong>L-shaped corner</strong> - One of the most popular forms of Italian sectionals. With seats on two adjacent sides, this layout utilizes corner space while providing abundant seating capacity.</li>
                      <li><strong>The chaise sectional</strong> - is another smart configuration, containing a long chair extension that allows for putting up of the legs.</li>
                      <li><strong>U-shaped sectionals</strong> - surround a center table or fireplace for maximum flexibility to create an intimate seating area.</li>
                      <li><strong>Curved sectionals</strong> - introduce softer lines, flowing gracefully around the room.</li>
                    </ul>
                    <p>Every form showcases Italy's commitment to comfort and workmanship, whether you choose a curved sectional for a softer, elegant flow; a U-shaped design for private gatherings; a chaise sectional for improved reclining; or an L-shaped corner sectional to optimize seating.</p>
                  </div>
                </section>

                <section>
                  <div class="nav-content-item">
                    <h4>Quality Craftsmanship and Materials</h4>
                    <p>Using only the finest materials and craftsmanship, luxury Italian sofas and sectionals are built to last. Leather and fabric upholsteries come in hundreds of hues, textures, and patterns to complement any décor. From buttery soft leathers to durable, family-friendly fabrics, carefully scrutinized materials ensure enduring beauty and comfort.</p>
                    <p>Beneath the surface, sturdy kiln-dried hardwood frames provide structural integrity and stability for generations of use. Cushions are constructed of high-density, resilient foam cores wrapped in down or fiberfill for pillowy softness and support. With each sit, they embrace you with an alluring combination of responsive comfort and silky softness, wrapped in luxurious layers of down or fiberfill.</p>
                  </div>
                </section>

                <section>
                  <div class="nav-content-item">
                    <h4>Modern and Contemporary Design Features</h4>
                    <p>Known for their contemporary, trendy styling, Italian sofas bring cutting-edge design and technological innovation to every piece. Clean, minimalist silhouettes and streamlined Italian design ethos seamlessly intermix functionality. Ergonomic shapes provide optimal comfort and support in sleek, architectural frames.</p>
                    <ul>
                      <li><strong>Versatility:</strong> Whether you're furnishing a formal living room or a casual family room, Italian sofas and sectionals adapt to your space and style.</li>
                      <li><strong>Comfort:</strong> Designed for relaxation, these modern sofas provide the perfect place to unwind after a long day.</li>
                      <li><strong>Style:</strong> With a wide range of designs, from classic to contemporary, Italian sofas design enhance the aesthetic of any home.</li>
                    </ul>
                    <p>Modular components allow for reconfiguration as needs change, while convenient storage compartments keep rooms neat. With compact footprints suited to today's smaller spaces, scale-down sofas, and configurable couches maintain maximum comfort through careful proportions.</p>
                  </div>
                </section>

                <section>
                  <div class="nav-content-item">
                    <h4>Choose Your Custom Sectionals from Italy</h4>
                    <p>With <strong>Italian Interiors</strong>, the options for creating your custom high-end Italian sectional are nearly endless. You may alter the length, shape, and size to fit your unique space perfectly. Select your preferred cushion style from loose pillow backs to streamlined, fixed ones. Tailor the depth and height for ideal reclining or recline functionality to your family?s needs.</p>
                    <p>Choose your model layout - chaise, curved, L-shaped, U-shaped, and more to achieve your ideal flow. Layer on accessories like ottomans, console tables, and cup holders. With most pieces sectional made-to-order in Italy's renowned manufacturing facilities, the only limit is your imagination. A sophisticated look is added by artisanal details including custom tufting, contrast stitching, and handcrafted upholstering. Lastly, for a genuinely unique artwork, customize your color scheme with a wide range of hues or make a unique two-tone pattern.</p>
                  </div>
                </section>

                <section>
                  <div class="nav-content-item">
                    <h4>Bring Home Ultimate Italian Quality and Comfort</h4>
                    <p>With unsurpassed quality, cutting-edge style, and unparalleled comfort, Italian sectional sofas create beautiful, functional spaces where families and friends can relax for years to come. From small-space studios to sprawling open-concept living areas, the Italian brand offers an array of contemporary sofas scaled to your needs.</p>
                    <p><strong>Italian Design Interiors</strong> features a display area in Boston, Massachusetts, for in-person viewing of our range of sectional sofas. Additionally, our furniture is available for online purchase through our website for offline pickups or convenient delivery nationwide.</p>
                  </div>
                </section>
              </div>
            </div>


          </div>
        </div>
      </section>
  
    {% include "partials/subscribe.njk" %}
  </main>

  {% include "partials/footer.njk" %} 

  <script defer src="js/bundle.js"></script>
</body>
</html>
