<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <meta name="Title" content="Italian Design Interiors" />
  <meta name="description" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="" />
  <meta property="og:sitename" content="" />
  <meta property="og:title" content="Italian Design Interiors">
  <meta property="og:image" content="images/og.png" />
  <title>Order - Italian Design Interiors</title>
  <link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="favicon/favicon.svg" />
  <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png" />
  <link rel="manifest" href="favicon/site.webmanifest" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- Header -->
  {% include "partials/menu.njk" %}

  <!-- Main Content -->
  <main class="order-page">
    <section class="order-page__header">
      <div class="container-xxl">
        <div class="order-page__header-row">
          <h1 class="order-page__header-title">Order #4365782</h1>
          <a href="mailto:support@italian-design-interiors.com" class="order-page__header-support">
            <svg class="icon">
              <use xlink:href="#support"></use>
            </svg>
            Contact support
          </a>
        </div>

        <div class="order-page__steps">
          <div class="order-page__steps-container">
            <div class="order-page__step completed">
              <div class="order-page__step-icon">
                <svg class="icon">
                  <use xlink:href="#shopping"></use>
                </svg>
              </div>
              <div class="order-page__step-content">
                <div class="order-page__step-content-title">Order placed</div>
                <div class="order-page__step-content-date">Received on 15 Apr, 2025</div>
              </div>
            </div>

            <div class="order-page__step completed current">
              <div class="order-page__step-icon">
                <svg class="icon">
                  <use xlink:href="#shopping-check"></use>
                </svg>
              </div>
              <div class="order-page__step-content">
                <div class="order-page__step-content-title">Order confirmed</div>
                <div class="order-page__step-content-date">Confirmed on 15 Apr, 2025</div>
              </div>
            </div>

            <div class="order-page__step">
              <div class="order-page__step-icon">
                <svg class="icon">
                  <use xlink:href="#production"></use>
                </svg>
              </div>
              <div class="order-page__step-content">
                <div class="order-page__step-content-title">In production</div>
                <div class="order-page__step-content-date">Estimated: 15 Apr, 2025</div>
              </div>
            </div>

            <div class="order-page__step">
              <div class="order-page__step-icon">
                <svg class="icon">
                  <use xlink:href="#truck"></use>
                </svg>
              </div>
              <div class="order-page__step-content">
                <div class="order-page__step-content-title">In transit</div>
                <div class="order-page__step-content-date">Shipped on 15 Apr, 2025</div>
              </div>
            </div>

            <div class="order-page__step">
              <div class="order-page__step-icon">
                <svg class="icon">
                  <use xlink:href="#delivery"></use>
                </svg>
              </div>
              <div class="order-page__step-content">
                <div class="order-page__step-content-title">Ready for delivery</div>
                <div class="order-page__step-content-date">Expected on 15 Apr, 2025</div>
              </div>
            </div>

            <div class="order-page__step">
              <div class="order-page__step-icon">
                <svg class="icon">
                  <use xlink:href="#cancel"></use>
                </svg>
              </div>
              <div class="order-page__step-content">
                <div class="order-page__step-content-title">Canceled</div>
                <div class="order-page__step-content-date">Canceled on 15 Apr, 2025</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="order-page__section">
      <div class="container-xxl">
        <h2 class="order-page__section-title">Products</h2>
        <div class="shopping-cart-content">
          <div class="shopping-cart-content-item">
            <div class="row align-items-center">
              <div class="col-lg-8 col-xl-6">
                <div class="shopping-cart-content-item-row">
                  <div class="shopping-cart-content-item-image d-none d-md-block">
                    <img src="images/dinning-room-1.webp" alt="">
                  </div>
                  <div class="shopping-cart-content-item-info">
                    <div class="shopping-cart-content-item-row d-md-none">
                      <div class="shopping-cart-content-item-image">
                        <img src="images/dinning-room-1.webp" alt="">
                      </div>
                      <div class="shopping-cart-content-item-info-mobile">
                        <h6 class="shopping-cart-content-item-info-type">Natuzzi Italia</h6>
                        <p class="shopping-cart-content-item-info-title">Eliot Wood Drive Dining Table</p>
                      </div>
                    </div>
                    <div class="d-none d-md-block">
                      <h6 class="shopping-cart-content-item-info-type">Natuzzi Italia</h6>
                      <p class="shopping-cart-content-item-info-title">Eliot Wood Drive Dining Table</p>
                    </div>
                    <div class="row shopping-cart-content-item-info-row">
                      <div class="col-5">
                        <div class="shopping-cart-content-item-info-finish">
                          <svg class="icon">
                            <use xlink:href="#texture"></use>
                          </svg>
                          <span>Finish</span>
                        </div>
                      </div>
                      <div class="col-7">
                        <div class="shopping-cart-content-item-info-price">
                          <span>With leather pad – $69.00</span>

                          <img src="images/texture-1.webp" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="row shopping-cart-content-item-info-row">
                      <div class="col-5">
                        <div class="shopping-cart-content-item-info-finish">
                          <svg class="icon">
                            <use xlink:href="#composition"></use>
                          </svg>
                          <span>Composition</span>
                        </div>
                      </div>
                      <div class="col-7">
                        <div class="shopping-cart-content-item-info-price">
                          <span>+$1,200</span>

                          <img src="images/composition-1.webp" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xl-6">
                <div class="shopping-cart-content-item">
                  <div class="shopping-cart-price text-start text-md-end mb-1 lg:mb-3">
                    $2,100.00
                  </div>
                  <div class="shopping-cart-content-ships waiting">
                    <svg class="icon">
                      <use xlink:href="#ships"></use>
                    </svg>
                    <span>Usually ships in 12 to 14 weeks</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="shopping-cart-content-item">
            <div class="row align-items-center">
              <div class="col-lg-8 col-xl-6">
                <div class="shopping-cart-content-item-row">
                  <div class="shopping-cart-content-item-image d-none d-md-block">
                    <img src="images/dinning-room-1.webp" alt="">
                  </div>
                  <div class="shopping-cart-content-item-info">
                    <div class="shopping-cart-content-item-row d-md-none">
                      <div class="shopping-cart-content-item-image">
                        <img src="images/dinning-room-1.webp" alt="">
                      </div>
                      <div class="shopping-cart-content-item-info-mobile">
                        <h6 class="shopping-cart-content-item-info-type">Natuzzi Italia</h6>
                        <p class="shopping-cart-content-item-info-title">Eliot Wood Drive Dining Table</p>
                      </div>
                    </div>
                    <div class="d-none d-md-block">
                      <h6 class="shopping-cart-content-item-info-type">Natuzzi Italia</h6>
                      <p class="shopping-cart-content-item-info-title">Eliot Wood Drive Dining Table</p>
                    </div>
                    <div class="row shopping-cart-content-item-info-row">
                      <div class="col-5">
                        <div class="shopping-cart-content-item-info-finish">
                          <svg class="icon">
                            <use xlink:href="#texture"></use>
                          </svg>
                          <span>Finish</span>
                        </div>
                      </div>
                      <div class="col-7">
                        <div class="shopping-cart-content-item-info-price">
                          <span>With leather pad – $69.00</span>

                          <img src="images/texture-1.webp" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="row shopping-cart-content-item-info-row">
                      <div class="col-5">
                        <div class="shopping-cart-content-item-info-finish">
                          <svg class="icon">
                            <use xlink:href="#composition"></use>
                          </svg>
                          <span>Composition</span>
                        </div>
                      </div>
                      <div class="col-7">
                        <div class="shopping-cart-content-item-info-price">
                          <span>+$1,200</span>

                          <img src="images/composition-1.webp" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xl-6">
                <div class="shopping-cart-content-item">
                  <div class="shopping-cart-price text-start text-md-end mb-1 lg:mb-3">
                    $2,100.00
                  </div>
                  <div class="shopping-cart-content-ships success">
                    <svg class="icon">
                      <use xlink:href="#ships-2"></use>
                    </svg>
                    <span>Quick shipping</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="order-page__section">
      <div class="container-xxl">
        <h2 class="order-page__section-title">Resume</h2>

          <div class="checkout-page__step-content">
            <div class="checkout-page__step-content-item">
              <h4 class="checkout-page__step-content-item-title">
                Shipping address
              </h4>
              <p class="checkout-page__step-content-item-text">
                John Doe
              </p>
              <p class="checkout-page__step-content-item-text mt-3">
                123 Maple Street <br>Beverly Hills, NV 90211 <br>United States
              </p>

              <h4 class="checkout-page__step-content-item-title mt-3">
                Shipping method
              </h4>
              <p class="checkout-page__step-content-item-text mt-0">
                Corriere Espresso
              </p>
            </div>
            <div class="checkout-page__step-content-item">
              <h4 class="checkout-page__step-content-item-title">
                Billing address
              </h4>
              <p class="checkout-page__step-content-item-text">
                John Doe
              </p>
              <p class="checkout-page__step-content-item-text mt-3">
                456 Avenue Street <br>Beverly Hills, NV 90211 <br>United States
              </p>

              <h4 class="checkout-page__step-content-item-title mt-3">
                Payment method
              </h4>
              <p class="checkout-page__step-content-item-text mt-0">
                Bank transfer
              </p>
            </div>
            <div class="checkout-page__step-content-item">
              <h4 class="checkout-page__step-content-item-title">
                Order summary
              </h4>
              <div class="order-summary__items">
                <div class="order-summary__item">
                  <span class="order-summary__item-text">Subtotal of 2 items</span>
                  <span class="order-summary__item-text order-summary__item-text--price">$7,300.00</span>
                </div>
                <div class="order-summary__item">
                  <span class="order-summary__item-text">Shipping cost</span>
                  <span class="order-summary__item-text order-summary__item-text--price">$30</span>
                </div>
                <div class="order-summary__item">
                  <span class="order-summary__item-text">Coupon applied</span>
                  <span class="order-summary__item-text order-summary__item-text--price">-$511.00</span>
                </div>
              </div>
              <div class="order-summary__total">
                <span class="order-summary__total-text">Order total</span>
                <span class="order-summary__total-text order-summary__total-text--price">$6,819.00</span>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section class="order-page__section order-page__section--faq">
      <div class="container-xxl">
        <h2 class="order-page__section-title">FAQ's</h2>

        <div class="order-page__faq-content">
          <div class="order-page__faq-item">
            <h3 class="order-page__faq-item-title">How does the Trade discount work?</h3>
            <div class="order-page__faq-item-content">Trade and contract program members receive special discounts on
              our portfolio of brands and early access to new arrivals. Members receive tax-exempt purchasing privileges
              at our showrooms and a progressive trade discount scaled to volume of purchase.</div>
          </div>
          <div class="order-page__faq-item">
            <h3 class="order-page__faq-item-title">How do I apply for membership?</h3>
            <div class="order-page__faq-item-content">New members of our program fill out a simple application form and
              upload a W-9, plus a resale certificate for verification and tax purposes.</div>
          </div>
          <div class="order-page__faq-item">
            <h3 class="order-page__faq-item-title">Is there a minimum order quantity?</h3>
            <div class="order-page__faq-item-content">No minimum order is required. Bigger discounts are offered on
              larger orders.</div>
          </div>
          <div class="order-page__faq-item">
            <h3 class="order-page__faq-item-title">How do I connect with an IDI Trade Representative?</h3>
            <div class="order-page__faq-item-content">As soon as you fill out the program application, our
              representative will be in contact to assist you.</div>
          </div>
          <div class="order-page__faq-item">
            <h3 class="order-page__faq-item-title">Are fabric and material samples available?</h3>
            <div class="order-page__faq-item-content">Once your membership is registered and approved, you have full
              access to our extensive sample and swatch library.</div>
          </div>
          <div class="order-page__faq-item">
            <h3 class="order-page__faq-item-title">What are my shipping options? Is White Glove Delivery available?</h3>
            <div class="order-page__faq-item-content">Your furniture will be delivered on time and in perfect condition
              just the way you ordered it. You receive exceptional customer care whether you choose full-service, white
              glove delivery, our economical standard curbside service, or upgrade your standard service to
              Room-of-Choice. We ensure your order is handled perfectly. Please note that online orders can only be
              shipped within the 48 continental United States</div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Subscribe Section -->
  {% include "partials/subscribe.njk" %}

  <!-- Footer -->
  {% include "partials/footer.njk" %}

  <script defer src="js/bundle.js"></script>
</body>

</html>