<div class="shopping-card-tooltip">
  <div class="shopping-card-tooltip-wrapper">
    <div class="shopping-card-tooltip-header">
      <h6 class="title">Added to cart</h6>
      <button type="button" class="shopping-card-tooltip-close">
        <svg class="icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>
                
    <div class="shopping-card-tooltip-content">
      <div class="shopping-card-tooltip-content-item">
        <div class="shopping-card-tooltip-content-item-row">
          <div class="shopping-card-tooltip-content-item-image">
            <img src="images/dinning-room-1.webp" alt="">
          </div>
          <div class="shopping-card-tooltip-content-item-info">
            <h6 class="shopping-card-tooltip-content-item-info-type">Natuzzi Italia</h6>
            <p class="shopping-card-tooltip-content-item-info-title">Eliot Wood Drive Dining Table</p>
            <div class="row shopping-card-tooltip-content-item-info-row">
              <div class="col-5">
                <div class="shopping-card-tooltip-content-item-info-finish">
                  <svg class="icon">
                    <use xlink:href="#texture"></use>
                  </svg>
                  <span>Finish</span>
                </div>
              </div>
              <div class="col-7">
                <div class="shopping-card-tooltip-content-item-info-price">
                  <span>With leather pad – $69.00</span>
    
                  <img src="images/texture-1.webp" alt="">
                </div>
              </div>
            </div>
            <div class="row shopping-card-tooltip-content-item-info-row">
              <div class="col-5">
                <div class="shopping-card-tooltip-content-item-info-finish">
                  <svg class="icon">
                    <use xlink:href="#composition"></use>
                  </svg>
                  <span>Composition</span>
                </div>
              </div>
              <div class="col-7">
                <div class="shopping-card-tooltip-content-item-info-price">
                  <span>+$1,200</span>
    
                  <img src="images/composition-1.webp" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shopping-card-tooltip-content-ships waiting">
          <svg class="icon">
            <use xlink:href="#ships"></use>
          </svg>
          <span>Usually ships in 12 to 14 weeks</span>
        </div>
      </div>
      <div class="shopping-card-tooltip-content-item">
        <div class="shopping-card-tooltip-content-item-row">
          <div class="shopping-card-tooltip-content-item-image">
            <img src="images/dinning-room-1.webp" alt="">
          </div>
          <div class="shopping-card-tooltip-content-item-info">
            <h6 class="shopping-card-tooltip-content-item-info-type">Natuzzi Italia</h6>
            <p class="shopping-card-tooltip-content-item-info-title">Eliot Wood Drive Dining Table</p>
            <div class="row shopping-card-tooltip-content-item-info-row">
              <div class="col-5">
                <div class="shopping-card-tooltip-content-item-info-finish">
                  <svg class="icon">
                    <use xlink:href="#texture"></use>
                  </svg>
                  <span>Finish</span>
                </div>
              </div>
              <div class="col-7">
                <div class="shopping-card-tooltip-content-item-info-price">
                  <span>With leather pad – $69.00</span>
    
                  <img src="images/texture-1.webp" alt="">
                </div>
              </div>
            </div>
            <div class="row shopping-card-tooltip-content-item-info-row">
              <div class="col-5">
                <div class="shopping-card-tooltip-content-item-info-finish">
                  <svg class="icon">
                    <use xlink:href="#composition"></use>
                  </svg>
                  <span>Composition</span>
                </div>
              </div>
              <div class="col-7">
                <div class="shopping-card-tooltip-content-item-info-price">
                  <span>+$1,200</span>
    
                  <img src="images/composition-1.webp" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shopping-card-tooltip-content-ships success">
          <svg class="icon">
            <use xlink:href="#ships-2"></use>
          </svg>
          <span>Quick shipping</span>
        </div>
      </div>
    </div>
    <div class="shopping-card-tooltip-footer">
      <div class="shopping-card-tooltip-footer-total">
          Total:
        <span>$5,200.00</span>
      </div>
    
      <div class="shopping-card-tooltip-footer-buttons">
        <button class="btn btn-dark">
          Proceed to checkout
        </button>
        <button class="btn btn-gray">
          View cart (2)
        </button>
      </div>
  
      <div class="shopping-card-tooltip-footer-secure">
        <h6>With secure payment methods</h6>
        <div class="shopping-card-tooltip-footer-secure-icons">
          <img src="images/secure-1.svg" alt="">
          <img src="images/secure-2.svg" alt="">
          <img src="images/secure-3.svg" alt="">
          <img src="images/secure-4.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>