<div id="banner-info" class="banner-info">
  We are open during the construction! Please use our Mt. Auburn St. entrance.
  
  <svg class="icon cancel-icon" id="cancel-icon">
    <use xlink:href="#cancel"></use>
  </svg>
</div>