<div class="filters">
  <div class="container-xxl">
    <ul class="filters__types">
      <li>
        <a class="filters__button current" href="#">
          <img src="images/filter-living-room.webp" alt="">
          <span>Living room</span>
        </a>
      <li>
        <a class="filters__button" href="#">
          <img src="images/filter-office.webp" alt="">
          <span>Office</span>
        </a>
      </li>
      <li>
        <a class="filters__button" href="#">
          <img src="images/filter-dinning.webp" alt="">
          <span>Dinning Room</span>
        </a>
      </li>
      <li>
        <a class="filters__button" href="#">
          <img src="images/filter-outdoors.webp" alt="">
          <span>Outdoors</span>
        </a>
      </li>
      <li>
        <a class="filters__button" href="#">
          <img src="images/filter-bedroom.webp" alt="">
          <span>Bedroom</span>
        </a>
      </li>
      <li>
        <a class="filters__button" href="#">
          <img src="images/filter-accents.webp" alt="">
          <span>Accents</span>
        </a>
      </li>
      </li>
    </ul>

    <div class="filters__selects">
      <select name="brands" class="custom-select" multiple data-placeholder="Brand" data-placeholder-search="Search brand">
        <option>4Mariani</option>
        <option>Airnova</option>
        <option>Bonaldo</option>
        <option>Bross</option>
        <option>Carpanelli</option>
        <option>Casa Divani</option>
        <option>4Mariani 1</option>
        <option>Airnova 2</option>
        <option>Bonaldo 3</option>
      </select>

      <select class="custom-select" multiple data-placeholder="Type">
        <option>4Mariani</option>
        <option>Airnova</option>
        <option>Bonaldo</option>
        <option>Bross</option>
       
      </select>
      
      <select class="custom-select" multiple data-placeholder="Upholstery">
        <option>Item 1</option>
        <option>Item 2</option>
        <option>Item 3</option>
        <option>Item 4</option>
        <option>Item 5</option>
     
      </select>
      <select class="custom-select" multiple data-placeholder="Shape">
        <option>Item 1</option>
        <option>Item 2</option>
        <option>Item 3</option>
        <option>Item 4</option>
        <option>Item 5</option>
     
      </select>
      <select class="custom-select" multiple data-placeholder="Size">
        <option>Item 1</option>
        <option>Item 2</option>
        <option>Item 3</option>
        <option>Item 4</option>
        <option>Item 5</option>
      </select>

      <select class="custom-select " data-placeholder="Sort by">
        <option selected >Recommended</option>
        <option>Item 2</option>
        <option>Item 3</option>
        <option>Item 4</option>
        <option>Item 5</option>
      </select>
      
    </div>
  </div>
</div>