<div class="filters">
  <ul class="filters__types">
  {% if page_type == "furniture" %}
    <li>
      <a class="filters__button current" href="#">
        <img src="images/filter-living-room.webp" alt="">
        <span>Living room</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
        <img src="images/filter-office.webp" alt="">
        <span>Office</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
        <img src="images/filter-dinning.webp" alt="">
        <span>Dinning Room</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
        <img src="images/filter-outdoors.webp" alt="">
        <span>Outdoors</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
        <img src="images/filter-bedroom.webp" alt="">
        <span>Bedroom</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
        <img src="images/filter-accents.webp" alt="">
        <span>Accents</span>
      </a>
    </li>
    {% else %}
    <li>
      <a class="filters__button current" href="#">
      <img src="images/filter-sofas-sectionals.webp" alt="">
      <span>Sofas & Sectionals</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
      <img src="images/filter-lounge-chairs.webp" alt="">
      <span>Lounge Chairs</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
      <img src="images/filter-recliner-chairs.webp" alt="">
      <span>Recliner Chairs</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
      <img src="images/filter-coffee-end-tables.webp" alt="">
      <span>Coffee & End tables</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
      <img src="images/filter-sleeper-sofas.webp" alt="">
      <span>Sleeper Sofas</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
      <img src="images/filter-benches-ottomans.webp" alt="">
      <span>Benches & Ottomans</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
      <img src="images/filter-wall-unit-tv-stands.webp" alt="">
      <span>Wall Unit & TV Stands</span>
      </a>
    </li>
    <li>
      <a class="filters__button" href="#">
      <img src="images/filter-bookcases-shelvings.webp" alt="">
      <span>Bookcases & Shelvings</span>
      </a>
    </li>
    {% endif %}
  </ul>


  <div class="filters__selects group-selects">
    <select name="brands" class="custom-select" multiple data-placeholder="Brand" data-placeholder-search="Search brand">
      <option>4Mariani</option>
      <option>Airnova</option>
      <option>Bonaldo</option>
      <option>Bross</option>
      <option>Carpanelli</option>
      <option>Casa Divani</option>
      <option>4Mariani 1</option>
      <option>Airnova 2</option>
      <option>Bonaldo 3</option>
    </select>

    <select class="custom-select" multiple data-placeholder="Type">
      <option>4Mariani</option>
      <option>Airnova</option>
      <option>Bonaldo</option>
      <option>Bross</option>
      
    </select>
    
    <select class="custom-select" multiple data-placeholder="Upholstery">
      <option>Item 1</option>
      <option>Item 2</option>
      <option>Item 3</option>
      <option>Item 4</option>
      <option>Item 5</option>
    
    </select>
    <select class="custom-select" multiple data-placeholder="Shape">
      <option>Item 1</option>
      <option>Item 2</option>
      <option>Item 3</option>
      <option>Item 4</option>
      <option>Item 5</option>
    
    </select>
    <select class="custom-select" multiple data-placeholder="Size">
      <option>Item 1</option>
      <option>Item 2</option>
      <option>Item 3</option>
      <option>Item 4</option>
      <option>Item 5</option>
    </select>

    <button type="button" class="filters__reset-all filters__reset-all-button">
      <svg class="icon">
        <use xlink:href="#close"></use>
      </svg>
      <span>Reset all</span>
    </button>

    <select class="custom-select " data-placeholder="Sort by">
      <option selected >Recommended</option>
      <option>Product name A-Z</option>
      <option>Item 3</option>
      <option>Item 4</option>
      <option>Item 5</option>
    </select>
  </div>

  <div class="filters__navbar">
    <button class="filters-mobile__open">
      <span>Filters</span>
      <svg class="icon">
        <use xlink:href="#filter"></use>
      </svg>
    </button>

    <select class="custom-select " data-placeholder="Sort by">
      <option>Recommended</option>
      <option>Product name A-Z</option>
      <option>Item 3</option>
      <option>Item 4</option>
      <option>Item 5</option>
    </select>
  </div>

  <div class="filters-mobile">
    <div class="filters-mobile__header">
      <h4 class="filters-mobile__title">Filters</h4>
      <svg class="filters-mobile__close icon">
        <use xlink:href="#close"></use>
      </svg>
    </div>

    <div class="filters-mobile__content group-selects">
      <select name="brands" class="custom-select" multiple data-placeholder="Brand" data-placeholder-search="Search brand">
        <option>4Mariani</option>
        <option>Airnova</option>
        <option>Bonaldo</option>
        <option>Bross</option>
        <option>Carpanelli</option>
        <option>Casa Divani</option>
        <option>4Mariani 1</option>
        <option>Airnova 2</option>
        <option>Bonaldo 3</option>
      </select>

      <select class="custom-select" multiple data-placeholder="Type">
        <option>4Mariani</option>
        <option>Airnova</option>
        <option>Bonaldo</option>
        <option>Bross</option>
        
      </select>
      
      <select class="custom-select" multiple data-placeholder="Upholstery">
        <option>Item 1</option>
        <option>Item 2</option>
        <option>Item 3</option>
        <option>Item 4</option>
        <option>Item 5</option>
      
      </select>
      <select class="custom-select" multiple data-placeholder="Shape">
        <option>Item 1</option>
        <option>Item 2</option>
        <option>Item 3</option>
        <option>Item 4</option>
        <option>Item 5</option>
      
      </select>
      <select class="custom-select" multiple data-placeholder="Size">
        <option>Item 1</option>
        <option>Item 2</option>
        <option>Item 3</option>
        <option>Item 4</option>
        <option>Item 5</option>
      </select>
    </div>

    <div class="filters-mobile__footer">
      <button class="btn btn-dark filters-mobile__apply">
        Apply filters<sup>4</sup>
      </button>
      <button type="button" class="filters__reset-all btn btn-primary">
        <span>Reset all</span>
      </button>
    </div>
  </div>
</div>