<footer class="footer">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-6">
        <div class="footer__logo">
          <img src="images/logo-footer.svg" alt="">
        </div>
      </div>
      <div class="col-lg-3">
        <a href="tel:6179262344" class="footer__phone">tel. 617.926.2344</a>
        <a href="mailto:info@italian-interiors.com" class="footer__email">info@italian-interiors.com</a>
        <ul class="footer__social">
          <li><a href="#"><svg class="icon"><use xlink:href="#fb"></use></svg></a></li>
          <li><a href="#"><svg class="icon"><use xlink:href="#inst"></use></svg></a></li>
          <li><a href="#"><svg class="icon"><use xlink:href="#ytb"></use></svg></a></li>
          <li><a href="#"><svg class="icon"><use xlink:href="#pinterest"></use></svg></a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <a class="footer__address" href="https://maps.app.goo.gl/23GNfeRLKZZBhYc99" target="_blank">19 Spring Street
          Watertown, MA 02472</a>
      </div>
    </div>

    <div class="row"> 
      <div class="col-lg-3 footer__col">
        <ul class="footer__list">
          <li><a href="#">Furniture</a></li>
          <li><a href="#">Kitchens</a></li>
          <li><a href="#">Walk-in Closets</a></li>
          <li><a href="#">Design Services</a></li>
          <li><a href="#">Brands</a></li>
          <li><a href="#">On Display</a></li>
          <li><a href="#">Inspiration</a></li>
        </ul>
      </div>
      <div class="col-lg-3 footer__col">
        <h6 class="footer__title">Contact us</h6>
        <ul class="footer__list">
          <li><a href="#">Make an appointment</a></li>
          <li><a href="#">Trade</a></li>
          <li><a href="#">Interior Design</a></li>
          <li><a href="#">Natuzzi Italia Customer Service</a></li>
          <li><a href="#">Hours and Location</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Location pages</a></li>
        </ul>
      </div>
      <div class="col-lg-3 footer__col">
        <h6 class="footer__title">Store hours</h6>
        <ul class="footer__list">
          <li><a href="#">Monday <span>By appointment</span></a></li>
          <li><a href="#">Tuesday <span>10 AM - 6 PM</span></a></li>
          <li><a href="#">Wednesday <span>10 AM - 6 PM</span></a></li>
          <li><a href="#">Thursday <span>11 AM - 7 PM</span></a></li>
          <li><a href="#">Friday <span>10 AM - 6 PM</span></a></li>
          <li><a href="#">Saturday <span>10 AM - 6 PM</span></a></li>
          <li><a href="#">Sunday <span>12 PM - 5 PM</span></a></li>
        </ul>
      </div>
      <div class="col-lg-3 footer__col">
        <div class="ms-auto">
          <h6 class="footer__title">Shop with confidence</h6>
          <ul class="footer__list">
            <li><a href="#">Terms & conditions</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Shipping & delivery</a></li>
            <li><a href="#">Return policy </a></li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <p>Copyright 2001 - 2025 by Italian Design Interiors. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>