{% include "./icons.njk" %}
{% include "./banner.njk" %}

<nav class="navigation">
  <div class="container-xl">
    <div class="row">
      <div class="col-xl navigation-logo">
        <img src="images/logo.svg" alt="">
      </div>
      <div class="col-xl navigation-content">
        <div class="navigation-top">
          <div class="navigation-logo-text">
            Italian Design
            Interiors
          </div>
          <ul class="navigation-contacts">
            <li>
              <a href="tel:6179262344">
                <svg class="icon">
                  <use xlink:href="#phone"></use>
                </svg>
                617.926.2344
              </a>
            </li>
            <li>
              <a href="mailto:info@italian-interiors.com">
                <svg class="icon">
                  <use xlink:href="#email"></use>
                </svg>
                info@italian-interiors.com
              </a>
            </li>
          </ul>
        </div>
        <ul class="navigation-menu">
          <li>
            <a href="#">Furniture</a>
            <div class="navigation-menu-submenu">
              <div class="container-xl">
                <div class="row">
                  <div class="col-lg">
                    <div class="navigation-menu-submenu-cat">
                      <a href="/shop/Living">Living Room</a>
                      <svg class="icon">
                        <use xlink:href="#arr-right"></use>
                      </svg>
                    </div>
                    <ul class="navigation-menu-submenu-list">
                      <li><a href="/shop/Living/Sofas-Sectionals">Sofas &amp; Sectionals</a></li>
                      <li><a href="/shop/Living/Lounge-Chairs">Lounge Chairs</a></li>
                      <li><a href="/shop/Living/Recliner-Chairs">Recliner Chairs</a></li>
                      <li><a href="/shop/Living/Coffee-End-Tables">Coffee &amp; End Tables</a></li>
                      <li><a href="/shop/Living/Sofas-Sectionals/sleeper-sofas">Sleeper Sofas</a></li>
                      <li><a href="/shop/Living/Benches-and-Ottomans">Benches &amp; Ottomans</a></li>
                      <li><a href="/shop/Living/Wall-Units-TV-Stands">Wall Unit &amp; TV Stands</a></li>
                      <li><a href="/shop/Living/Bookcases-Shelving">Bookcases &amp; Shelvings</a></li>
                    </ul>
                  </div>
                  <div class="col-lg">
                    <div class="navigation-menu-submenu-cat">
                      <a href="/shop/Dining">Dining Room</a>
                      <svg class="icon">
                        <use xlink:href="#arr-right"></use>
                      </svg>
                    </div>
                    <ul class="navigation-menu-submenu-list">
                      <li><a href="/shop/Dining/Dining-Tables">Dining Tables</a></li>
                      <li><a href="/shop/Dining/Dining-Chairs">Dining Chairs</a></li>
                      <li><a href="/shop/Dining/Bar-and-Counter-Stools">Bar &amp; Counter Stools</a></li>
                      <li><a href="/shop/Dining/Sideboards-Buffets">Sideboards &amp; Buffets</a></li>
                      <li><a href="/shop/Dining/Bars-and-Bar-Tables">Bars &amp; Bars Tables</a></li>
                      <li><a href="/shop/Dining/Bistro-Tables">Bistro Tables</a></li>
                    </ul>
                  </div>
                  <div class="col-lg">
                    <div class="navigation-menu-submenu-cat">
                      <a href="/shop/Bedroom">Bedroom</a>
                      <svg class="icon">
                        <use xlink:href="#arr-right"></use>
                      </svg>
                    </div>
                    <ul class="navigation-menu-submenu-list">
                      <li><a href="/shop/Bedroom/Beds">Beds</a></li>
                      <li><a href="/shop/Bedroom/Dressers">Dressers &amp; Chests</a></li>
                      <li><a href="/shop/Bedroom/Nightstands">Nightstands</a></li>
                      <li><a href="/shop/Bedroom/Vanity">Vanity</a></li>
                      <li><a href="/shop/Bedroom/Bedroom-Sets">Bedroom Sets</a></li>
                      <li><a href="/shop/Bedroom/Mattresses">Mattresses</a></li>
                    </ul>
                  </div>
                  <div class="col-lg">
                    <div class="navigation-menu-submenu-cat">
                      <a href="/shop/Office">Office</a>
                      <svg class="icon">
                        <use xlink:href="#arr-right"></use>
                      </svg>
                    </div>
                    <ul class="navigation-menu-submenu-list">
                      <li><a href="/shop/Office/Home-Office-Desks">Desks</a></li>
                      <li><a href="/shop/Office/Home-Office-Chairs">Home office chairs</a></li>
                      <li><a href="/shop/Office/Storage-and-Cabinets">Storage &amp; Cabinets</a></li>
                    </ul>
                  </div>
                  <div class="col-lg">
                    <div class="navigation-menu-submenu-cat">
                      <a href="/shop/Outdoor">Outdoor</a>
                      <svg class="icon">
                        <use xlink:href="#arr-right"></use>
                      </svg>
                    </div>
                    <ul class="navigation-menu-submenu-list">
                      <li><a href="/shop/Outdoor/Outdoor-Sofas-Sectionals">Outdoor sofas &amp; sectionals</a></li>
                      <li><a href="/shop/Outdoor/Outdoor-Dining-Tables">Outdoor dining tables</a></li>
                      <li><a href="/shop/Outdoor/Outdoor-Dining-Chairs">Outdoor dining chairs</a></li>
                      <li><a href="/shop/Outdoor/Outdoor-Coffee-End-Tables">Outdoor coffee &amp; end tables</a></li>
                      <li><a href="/shop/Outdoor/Outdoor-Chaise-Lounges-Chairs">Outdoor chaise lounges &amp; chairs</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg">
                    <div class="navigation-menu-submenu-cat">
                      <a href="/shop/Accents">Accents</a>
                      <svg class="icon">
                        <use xlink:href="#arr-right"></use>
                      </svg>
                    </div>
                    <ul class="navigation-menu-submenu-list">
                      <li><a href="/shop/Accents/Consoles">Consoles</a></li>
                      <li><a href="/shop/Accents/Mirrors">Mirrors</a></li>
                      <li><a href="/shop/Accents/Lamps">Lamps</a></li>
                      <li><a href="/shop/Accents/Coat-Rack">Coat Rack</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li><a href="#">Kitchens</a></li>
          <li><a href="#">Walk-in Closets</a></li>
          <li>
            <a href="#">Design Services</a>

            <div class="navigation-menu-submenu">
              <div class="container-xl">
                <div class="row">
                  <div class="col-lg">
                    <a href="#" class="navigation-menu-submenu-card">
                      <img src="images/menu-1.webp" alt="">
                      <div class="navigation-menu-submenu-card-text">
                        <h6 class="title">Interior Design</h6>
                        <p>Our team will assist you in discovering design options that meet your requirements.</p>
                      </div>
                    </a>
                  </div> 
                  <div class="col-lg">
                    <a href="#" class="navigation-menu-submenu-card">
                      <img src="images/menu-2.webp" alt="">
                      <div class="navigation-menu-submenu-card-text">
                        <h6 class="title">Trade Service</h6>
                        <p>The devoted team will provide support throughout all phases of your design endeavors.</p>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg">
                    <a href="#" class="navigation-menu-submenu-card">
                      <img src="images/menu-3.webp" alt="">
                      <div class="navigation-menu-submenu-card-text">
                        <h6 class="title">Staging</h6>
                        <p>A large selection of high-end furniture for any of your staging needs</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#">Brands</a>

            <div class="navigation-menu-submenu">
              <div class="container-xl">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="navigation-menu-submenu-cat">
                      <a>Modern</a>
                      <svg class="icon">
                        <use xlink:href="#arr-right"></use>
                      </svg>
                    </div>
                    <div class="row">
                      <div class="col-lg">
                        <ul class="navigation-menu-submenu-list">
                          <li><a href="/shop/furniture-brands/Airnova">Airnova</a></li>
                          <li><a href="/shop/furniture-brands/Bonaldo">Bonaldo</a></li>
                          <li><a href="/shop/furniture-brands/Bontempi">Bontempi</a></li>
                          <li><a href="/shop/furniture-brands/Calligaris">Calligaris</a></li>
                          <li><a href="/shop/furniture-brands/Cattelan-Italia">Cattelan Italia</a></li>
                        </ul>
                      </div>
                      <div class="col-lg">
                        <ul class="navigation-menu-submenu-list">
                          <li><a href="/shop/furniture-brands/Dellarobbia">Dellarobbia</a></li>
                          <li><a href="/shop/furniture-brands/Essentia">Essentia</a></li>
                          <li><a href="/shop/furniture-brands/Il-Loft">IL loft</a></li>
                          <li><a href="/shop/furniture-brands/Naos">Naos</a></li>
                          <li><a href="/shop/furniture-brands/Natuzzi-Editions">Natuzzi Editions</a></li>

                        </ul>
                      </div>
                      <div class="col-lg">
                        <ul class="navigation-menu-submenu-list">
                          <li><a href="/shop/furniture-brands/Natuzzi-Italia">Natuzzi Italia</a></li>
                          <li><a href="/shop/furniture-brands/Pianca">Pianca</a></li>
                          <li><a href="/shop/furniture-brands/Presotto">Presotto</a></li>
                          <li><a href="/shop/furniture-brands/Reflex">Reflex Angelo</a></li>
                          <li><a href="/shop/furniture-brands/Sangiacomo">Sangiacomo</a></li>
                        </ul>
                      </div>
                      <div class="col-lg">
                        <ul class="navigation-menu-submenu-list">
                          <li><a href="/shop/furniture-brands/Sovet">Sovet</a></li>
                          <li><a href="/shop/furniture-brands/Tonelli">Tonelli Design</a></li>
                          <li><a href="/shop/furniture-brands/Tonin-Casa">Tonin Casa</a></li>
                          <li><a href="/shop/furniture-brands/Tomasella">Tomasella</a></li>
                        </ul>
                      </div>
                      <div class="col-lg-12">
                        <ul class="navigation-menu-submenu-list all-brands">
                          <li><a href="/shop/furniture-brands"><span>Explore all brands<sup>56</sup></span> <svg
                                class="icon">
                                <use xlink:href="#arr-right"></use>
                              </svg></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg">
                    <div class="navigation-menu-submenu-cat">
                      <a>Traditional</a>
                      <svg class="icon">
                        <use xlink:href="#arr-right"></use>
                      </svg>
                    </div>
                    <ul class="navigation-menu-submenu-list">
                      <li><a href="/shop/furniture-brands/Carpanelli">Carpanelli</a></li>
                      <li><a href="/shop/furniture-brands/Gruppo-Gimo">Gruppo Gimo</a></li>
                      <li><a href="/shop/furniture-brands/Morello-Gianpaolo">Morello Gianpaolo</a></li>
                      <li><a href="/shop/furniture-brands/Opera-Contemporary">Opera Contemporary</a></li>
                      <li><a href="/shop/furniture-brands/Silik">Silik</a></li>
                    </ul>
                  </div>
                  <div class="col-lg">
                    <div class="navigation-menu-submenu-cat">
                      <a>Contract</a>
                      <svg class="icon">
                        <use xlink:href="#arr-right"></use>
                      </svg>
                    </div>
                    <ul class="navigation-menu-submenu-list">
                      <li><a href="/shop/furniture-brands/Saba">Saba</a></li>
                      <li><a href="/shop/furniture-brands/Tacchini">Tacchini</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li><a href="#">On Display</a></li>
          <li><a href="#">Inspiration</a></li>
          <li class="navigation-menu-contacts">
            <a href="#">
              <svg class="icon">
                <use xlink:href="#phone"></use>
              </svg>
            </a>
            <a href="#">
              <svg class="icon">
                <use xlink:href="#email"></use>
              </svg>
            </a>
            <a href="#">
              <svg class="icon">
                <use xlink:href="#shopping"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>