<div class="pagination">
    <button class="btn btn-dark btn-md">Show next 30 items</button>

    <div class="pagination__inner">
        <div class="pagination__legend">30 out of 296 results shown </div>
        <ul class="pagination__buttons">
            <li class="d-none d-md-flex">
                <a href="#" class="pagination__button">
                    <svg class="icon">
                        <use xlink:href="#double-arrow-left"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="pagination__button">
                    <svg class="icon">
                        <use xlink:href="#arr-left"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="pagination__button">1</a>
            </li>
            <li>
                <a href="#" class="pagination__button">2</a>
            </li>
            <li>
                <a href="#" class="pagination__button current">3</a>
            </li>
            <li>
                <a href="#" class="pagination__button">4</a>
            </li>
            <li>
                <a href="#" class="pagination__button">...</a>
            </li>
            <li>
                <a href="#" class="pagination__button">69</a>
            </li>
            <li>
                <a href="#" class="pagination__button">
                    <svg class="icon">
                        <use xlink:href="#arr-right"></use>
                    </svg>
                </a>
            </li>
            <li class="d-none d-md-flex">
                <a href="#" class="pagination__button">
                    <svg class="icon">
                        <use xlink:href="#double-arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>

        
        <div class="pagination__per-page">
            <span>Products per page:</span>
            <select class="pagination__per-page-select">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="90">90</option>
            </select>
        </div>
    </div>
</div>