<div class="search" id="search-block">
  <form action="search.html" class="search__form">
    <input class="input-text" type="search" name="search" >
    <div class="search__buttons">
      <button type="submit" class="search__submit">
        <svg class="icon">
          <use xlink:href="#search"></use>
        </svg>
      </button>
      <button type="reset" class="search__reset">
        <svg class="icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>
  </form>

  <div class="search__results" id="search-results">
    <div class="container-xxl">
      <div class="row">
        <div class="col-lg-2">
          <h4 class="search__title">Popular Searches</h4>

          <ul class="search__popular">
            <li><a href="#">Sofa</a></li>
            <li><a href="#">Chair</a></li>
            <li><a href="#">Borghese</a></li>
            <li><a href="#">Chair</a></li>
          </ul>
        </div>
        <div class="col-lg-6"> 
          <h4 class="search__title">Trending now</h4>

          <div class="search__cards">
            {% for i in range(1, 5) %}
              <a  href="#" class="search__card">
                <img src="images/photo-frame-6.webp" alt="">
                <h6>Borghese</h6>
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-4">
          <a href="#" class="search__banner">
            <div class="search__tag">New collection 2025</div>

            <h5>Elevate living with our Italian design</h5>
            <p>Discover elegance and functionality with our Italian designs</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="search__results-list" id="search-results-list">
    <div class="container-xxl">
      <div class="search__brands-section">
        <h4 class="search__title">Suggestions</h4>
        <div class="row">
          <div class="col-6">
            <div class="search__brands-column">
              <a href="#" class="search__brand-item">
                <span>Borghese</span>
              </a>
              <a href="#" class="search__brand-item">
                <span>Borgowi</span>
              </a>
              <a href="#" class="search__brand-item">
                <span>Borgheseuej</span>
              </a>
            </div>
          </div>
          <div class="col-6">
            <div class="search__brands-column">
              <a href="#" class="search__brand-item">
                <span>Borghesewiee</span>
              </a>
              <a href="#" class="search__brand-item">
                <span>Borghesewiec</span>
              </a>
              <a href="#" class="search__brand-item">
                <span>Borghesewiec</span>
              </a>
            </div> 
          </div>
        </div>
      </div>

      <div class="search__products-section">
        <div class="search__products-grid">
          <a href="#" class="search__product-item">
            <div class="search__product-icon">
              <img src="images/photo-frame-1.webp" alt="">
            </div>
            <span class="search__product-name">Dafne dinning chair</span>
          </a>
          <a href="#" class="search__product-item">
            <div class="search__product-icon">
              <img src="images/photo-frame-2.webp" alt="">
            </div>
            <span class="search__product-name">Rachel wood chair</span>
          </a>
          <a href="#" class="search__product-item">
            <div class="search__product-icon">
              <img src="images/photo-frame-3.webp" alt="">
            </div>
            <span class="search__product-name">Miranda wood chair</span>
          </a>
          <a href="#" class="search__product-item">
            <div class="search__product-icon">
              <img src="images/photo-frame-4.webp" alt="">
            </div>
            <span class="search__product-name">Miranda ml chair</span>
          </a>
          <a href="#" class="search__product-item">
            <div class="search__product-icon">
              <img src="images/photo-frame-6.webp" alt="">
            </div>
            <span class="search__product-name">Yani recliner chair</span>
          </a>
          <a href="#" class="search__product-item"> 
            <div class="search__product-icon">
              <img src="images/photo-frame-5.webp" alt="">
            </div>
            <span class="search__product-name">Miranda lounge dinning chair</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>