<div class="search" id="search-block">
  <form action="search.html" class="search__form">
    <input class="input-text" type="search" name="search" >
    <button type="submit">
      <svg class="icon">
        <use xlink:href="#search"></use>
      </svg>
    </button>
  </form>

  <div class="search__results" id="search-results">
    <div class="container-xxl">
      <div class="row">
        <div class="col-lg-2">
          <h4 class="search__title">Popular Searches</h4>

          <ul class="search__popular">
            <li><a href="#">Sofa</a></li>
            <li><a href="#">Chair</a></li>
            <li><a href="#">Borghese</a></li>
            <li><a href="#">Chair</a></li>
          </ul>
        </div>
        <div class="col-lg-6"> 
          <h4 class="search__title">Trending now</h4>

          <div class="search__cards">
            {% for i in range(1, 5) %}
              <a  href="#" class="search__card">
                <img src="images/photo-frame-6.webp" alt="">
                <h6>Borghese</h6>
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-4">
          <a href="#" class="search__banner">
            <div class="search__tag">New collection 2025</div>

            <h5>Elevate living with our Italian design</h5>
            <p>Discover elegance and functionality with our Italian designs</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>