<section class="subscribe">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2 class="subscribe__title fade-in-left">Join our mailing list for deal alerts</h2>
      </div>
      <div class="col-lg-6">
        <form action="#" class="subscribe__form fade-in-right">
          <label>
            <input class="input-text" type="email" name="email" placeholder="Email*" required>
          </label>
          <button type="submit" class="btn btn-dark submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>