<div id="request-price" class="sidebar">
  <div class="sidebar__container">
    <div class="sidebar__header">
      <h2 class="sidebar__title">Request a price</h2>
      <button type="button" class="sidebar__close" data-sidebar-close>
        <svg class="icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>

    <div class="sidebar__content request-price__content">
      <div class="row">
        <div class="col-lg-7">
          <div class="product-info__types">
          <h4 class="request-price__title">Natuzzi Italia Brooklyn</h4>

            <button type="button" class="btn btn-primary btn-outline product-info__texture" data-texture>
              <svg class="icon">
                <use xlink:href="#texture"></use>
              </svg>
              <span><span class="d-none d-md-inline">Select</span> finish</span>
      
              <div class="exemple">
                <span>With leather pad – $4,000</span>
                <img src="images/texture.webp" alt="">
              </div>
            </button>
            <button type="button" class="btn btn-primary btn-outline product-info__composition"
              data-sidebar="sidebar-composition">
              <svg class="icon">
                <use xlink:href="#composition"></use>
              </svg>
              <span><span class="d-none d-md-inline">Select</span> composition</span>
      
              <div class="exemple">
                <span>$5,200.00</span>
                <img src="images/composition-4.webp" alt="">
              </div>
            </button>
          </div>
          <form action="#" class="request-price__form">
            <label for="name">
              <input data-valid="Required information" type="text" class="input-text dark" name="name" id="name" placeholder="Full name*" required="">
            </label>
            <label for="phone">
              <input data-valid="Required information" type="tel" class="input-text dark" name="phone" id="phone" placeholder="Phone*" required="">
            </label>
            <label for="email">
              <input data-valid="Required information" type="email" class="input-text dark" name="email" id="email" placeholder="Email*" required="">
            </label>
            <label for="zip"> 
              <input data-valid="Required information" type="text" class="input-text dark" name="zip" id="zip" placeholder="Shipping zip code*" required="">
            </label>
            <label for="message">
              <textarea data-valid="Required information" class="input-text dark" name="message" id="message" placeholder="Message*" required=""></textarea>
            </label>

            <button type="submit" class="btn btn-dark submit">Submit</button>
          </form>
        </div>
        <div class="col-lg-5">
          <div class="request-price__help">
            <div class="request-price__help-item">
              <h5>We're here to help</h5>
            <p>
              <span>Please contact us at:</span>
              <a href="tel:617.926.2344">tel. 617.926.2344</a>
            </p>
            <p>
              <span>Our address</span>
              <a href="#">19 Spring Street Watertown,MA 02472</a>
            </p>
            <a href="#" class="btn btn-dark request-price__map-open btn-md">Show on map <svg class="icon">
              <use xlink:href="#map-open"></use>
            </svg></a>
            </div>

            <div class="request-price__help-item">
              <h5>Hours of operation</h5>
              <ul class="request-price__list">
                <li>Monday <span>By appointment</span></li>
                <li>Tuesday <span>10 AM - 6 PM</span></li>
                <li>Wednesday <span>10 AM - 6 PM</span></li>
                <li>Thursday <span>11 AM - 7 PM</span></li>
                <li>Friday <span>10 AM - 6 PM</span></li>
                <li>Saturday <span>10 AM - 6 PM</span></li>
                <li>Sunday <span>12 PM - 5 PM</span></li>
              </ul>
            </div>

            <div class="request-price__help-item">
              <h5>Shopping for a client?</h5>
                <p>Checkout our trade page to see more suitable options</p>
                <a href="#" class="btn btn-dark request-price__map-open btn-md">Show on map</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="idMaterial" class="material-item">
  <div class="row justify-content-between">
    <div class="col-8 p-0">With leather pad</div>
    <div class="col-4 p-0 propertycode"></div>
  </div>
  <div class="row justify-content-between">
    <div class="col-8 p-0">Price</div>
    <div class="col-4 p-0 propertyprice">+$69.00</div>
  </div>

  <img src="images/texture.webp" width="150">
</div>