<div id="sidebar-composition" class="sidebar">
  <div class="sidebar__container">
    <div class="sidebar__header">
      <h2 class="sidebar__title">Choose composition</h2>
      <button type="button" class="sidebar__close" data-sidebar-close>
        <svg class="icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>
  
    <div class="sidebar__content">
      <div class="sidebar__select-finish-text d-lg-none">Please be aware that colour and texture might vary from your screen to the product.</div>

      <div class="sidebar__composition row">
        {% for i in range(1, 6) %}
        <div class="col-6 col-lg-4">
          <div class="sidebar__composition-item">
            <img src="images/composition-{{i}}.webp" alt="">
            <div class="sidebar__composition-footer">
              <span>Code: GFM11</span>
              <span>Price: +$69.00</span>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="col-6 col-lg-4">
          <div class="sidebar__composition-item sidebar__composition-banner">
            <h4>Haven’t found the
              right composition?</h4>
            <p>We can help!</p>
            <button type="button" class="btn btn-dark" >Explore all</button>
          </div>
        </div>
       
      </div>
    </div>
  
    <div class="sidebar__footer">
      <div class="sidebar__select-finish-footer">
        <div class="d-lg-none w-full">
          <div class="mob-composition">
            
          </div>
        </div>
        <button type="button" class="btn btn-dark" data-sidebar-select-composition>Select Composition</button>
        <div class="sidebar__select-finish-price d-none d-lg-block">From <span>$5,200.00</span></div>
        <div class="sidebar__select-finish-text d-none d-lg-block">Please be aware that colour and texture might vary from your screen to the product.</div>
      </div>
    </div>
  </div>
</div>
