<div class="sidebar">
  <div class="sidebar__header">
    <h2 class="sidebar__title"></h2>
    <button class="sidebar__close">
      <svg class="icon">
        <use xlink:href="#close"></use>
      </svg>
    </button>
  </div>

  <div class="sidebar__content">
    <div class="sidebar__select-finish">
      <div class="sidebar__select-finish-top"></div>

      <div class="sidebar__select-finish-item">
        <h4>Fabric Upholstery</h4>
        <ul class="sidebar__select-finish-list">
          {% for i in range(1, 13) %}
          <li class="classHandbook"
              id="id-0.31721971586088"
              propertycode="2509"
              propertyvalue="2509 Status, cat 25"
              propertyindex="1"
              propertyprice=""
              propertypriceid="204309"
              propertyhandbookorder="unchecked"
          >
            <img src="images/texture.webp"
              material-src="images/texture.webp"
              height="50"
              alt="2509 Status, cat 25"
            />
          </li>
          {% endfor %}
        
        </ul>
      </div>
    </div>
  </div>

  <div class="sidebar__footer"></div>
</div>

<div id="idMaterial" class="classMaterial">
  <b>2509 Status, cat 25</b><br>
  Code: 2509<br>
  <img src="images/texture.webp" width="150">
</div>