.product {
  &-header {
    padding: 234px 0 50px;
    overflow: hidden;
    
    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      padding: vw(234px) 0 vw(50px);
    }
  
    @media screen and (max-width: 1023px) {
      padding: 92px 0 50px;
    }
  
    .breadcrumbs {
      margin-bottom: 40px;
  
      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        margin-bottom: vw(40px);
      }

      @media screen and (max-width: 1023px) {
        margin-bottom: 20px;
      }
    }
  }

  &-gallery {
    @media screen and (max-width: 1023px) {
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
      margin-top: 24px;
    }

    &__slider {
      &-item {
        img {
          width: 762px;
          height: 517px;
          object-fit: cover;

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            width: vw(762px);
            height: vw(517px);
          }

          @media screen and (max-width: 1023px) {
            width: 100%;
            height: 263px;
          }
        }
      }

      &-nav {
        padding-right: 82px;
        position: relative;
        margin-top: 20px;

        @media screen and (max-width: 1023px) {
          padding-right: 0;
          margin-top: -24px;
        }

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          padding-right: vw(82px);
          margin-top: vw(20px);
        }

        &-item {
          padding-right: 20px;
          @media screen and (max-width: 1023px) {
            padding-right: 16px;
            padding-bottom: 32px;
          }
          
          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            padding-right: vw(20px);
          }
          img {
            width: 120px;
            object-fit: cover;
            height: 120px;
            @media screen and (min-width: 1024px) and (max-width: 1320px) {
              width: vw(120px);
              height: vw(120px);
            }

            @media screen and (max-width: 1023px) {
              height: 100px;
              width: 100px;
              box-shadow: 0px 4px 11.8px 0px rgba(0, 0, 0, 0.15);
            }
          }

          &.slick-current {
            img {
              border: 1.304px solid #000;
            }
          }
        }

        .gallery-slider-prev {
          display: none !important;
        }

        .gallery-slider-next {
          width: 32px;
          height: 32px;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          cursor: pointer;
          &:hover {
            transform: translateY(-50%) scale(1.1);
          }

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            width: vw(32px);
            height: vw(32px);
          }

          @media screen and (max-width: 1023px) {
            display: none;
          }
        }
      }
    }
  }

  &-info {
    &__brand {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(18px);
      }

      @media screen and (max-width: 1023px) {
        color: #6B7280;
      }
    }

    &__title {
      color: #000;
      font-size: 64px;
      font-style: normal;
      font-weight: 300;
      line-height: 70px; /* 109.375% */
      margin-bottom: 12px;

      @media screen and (max-width: 1023px) {
        margin-bottom: 16px;
        font-size: 38px;
        line-height: 44px;
      }

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(64px);
        line-height: vw(70px); 
        margin-bottom: vw(12px);
      }
    }

    &__text {
      overflow: hidden;
      color: #000;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 12px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(18px);
        margin-bottom: vw(12px);
      }

      &.open {
        overflow: visible;
        display: -webkit-box;
        -webkit-line-clamp: inherit;
        -webkit-box-orient: vertical;
      }

      &-btn {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-decoration: underline;
        background: 0 0;
        border: 0;
        padding: 0;
        margin: 0;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          font-size: vw(18px);
        }

        &:hover {
          text-decoration: none;
        }
      }
    }

    &__types {
      margin: 32px 0;
      display: flex;
      flex-direction: column;
      gap: 16px;

      @media screen and (max-width: 1023px) {
        margin-top: 0;
      }

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        margin: vw(32px) 0;
        gap: vw(16px);
      }

      .btn {
        max-width: 100%;
        width: 100%;

        @media screen and (max-width: 767px) {
          text-transform: capitalize;
        }
      }

      .exemple {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 12px;
        width: fit-content;
        text-align: left;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          gap: vw(12px);
        }
        
        span {
          color: #6B7280;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            font-size: vw(16px);
          }
        }

        img {
          width: 44px;
          height: 44px;
          margin-top: -6px;
          margin-bottom: -6px;

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            width: vw(44px);
            height: vw(44px);
            margin-top: vw(-6px);
            margin-bottom: vw(-6px);
          }
        }
      }


    }

    &__price {
      color: #000;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 56px;
      margin-bottom: 8px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(40px);
        line-height: vw(56px);
        margin-bottom: vw(8px);
      }

      &-quantity {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 32px;
       
        &-title {
          color: #000;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          
        }
      }
    }

    &__ships {
      display: flex;
      align-items: center;
      gap: 12px;
      color: #070707;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      &.danger {
        background: rgba(255, 231, 222, 0.50);
        backdrop-filter: blur(12px);
        padding: 6px 12px;
        color: #A92A07;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        width: fit-content;
        text-wrap: nowrap;
       
        svg {
          width: 20px;
          height: 20px;
        }
      }

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        gap: vw(12px);
        font-size: vw(16px);
      }

      svg {
        width: 32px;
        height: 32px;
        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          width: vw(32px);
          height: vw(32px);
        }
      } 

      span {
        display: flex;
        max-width: calc(100% - 44px);

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          max-width: calc(100% - vw(44px));
        }
      }
    }

    &__buttons {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        margin-top: vw(32px);
        gap: vw(16px);
      }
      .btn {
        max-width: 100%;
        width: 100%;
      }
    }
    .btn-outline {
      border-color: #A5A5A5;
      background: #fff;

      &:hover {
        border-color: #000;
        background: #F8F8F8;
      }
    }
  }
}

.product-info__texture, .product-info__composition {
  >span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.product-info__texture .exemple {
  img {
    border-radius: 50%;
  }
}