<section class="sign-up-content">
  <div class="container-xxl sign-up__container">
    <div class="sign-up__inner">
      <h1 class="sign-up__title">Trade Program</h1>

      <div class="sign-up__description">
        Our trade service is the specialty of Italian Interiors, refined and tested through 30 years of
        experience to give you the exact support you need in any project and budget. We have a dedicated team of
        professionals in-house, who shares the passion and vison of your work, saves you time, and helps you in
        all the stages of your design projects, including selection, customization, visualization, delivery, and
        storage.
      </div>
      <div class="sign-up__form">
        <form action="#" class="row">
          <div class="col-12 col-md-6">
            <label for="first-name">
              <input class="input-text dark" type="text" id="first-name" name="first-name" placeholder="First name">
            </label>
          </div>
          <div class="col-12 col-md-6">
            <label for="last-name">
              <input class="input-text dark" type="text" id="last-name" name="last-name" placeholder="Last name">
            </label>
          </div>
          <div class="col-12 col-md-6">
            <label for="phone">
              <input class="input-text dark" type="tel" id="phone" name="phone" placeholder="Phone" required>
            </label>
          </div>
          <div class="col-12 col-md-6">
            <label for="email">
              <input class="input-text dark" type="email" id="email" name="email" placeholder="Email" required>
            </label>
          </div>
          <div class="col-12 col-md-6">
            <label for="company-name">
              <input class="input-text dark" type="text" id="company-name" name="company-name"
                placeholder="Company name" required>
            </label>
          </div>
          <div class="col-12 col-md-6">
            <label for="website">
              <input class="input-text dark" type="text" id="website" name="website" placeholder="Website" required>
            </label>
          </div>
          <div class="col-12">
            <label for="address">
              <input class="input-text dark" type="text" id="address" name="address" placeholder="Address" required>
            </label>
          </div>
          <div class="col-12 col-md-4">
            <label for="city">
              <input class="input-text dark" type="text" id="city" name="city" placeholder="City" required>
            </label>
          </div>
          <div class="col-12 col-md-4">
            <label for="state">
              <input class="input-text dark" type="text" id="state" name="state" placeholder="State" required>
            </label>
          </div>
          <div class="col-12 col-md-4">
            <label for="zip">
              <input class="input-text dark" type="text" id="zip" name="zip" placeholder="Zip" required>
            </label>
          </div>
          <div class="col-12">
            <select class="select-text dark">
              <option value="" disabled selected required>Professional Affiliations</option>
              <option value="1">Architects</option>
              <option value="2">Interior Designers</option>
              <option value="3">Designers</option>
            </select>
          </div>
          <div class="col-12">
            <select class="select-text dark">
              <option value="" disabled selected>Primary project type</option>
              <option value="1">Residential</option>
              <option value="2">Commercial</option>
            </select>
          </div>
          <div class="col-12">
            <select class="select-text dark">
              <option value="" disabled selected>How did you hear about us</option>
              <option value="1">Google</option>
              <option value="2">Facebook</option>
            </select>
          </div>
          <div class="col-12">
            <div class="custom-file-upload">
              <label for="file" class="custom-file-label">
                <span class="custom-file-icon">+</span>
                <span class="custom-file-text">Resale or sales tax certificate</span>
                <input type="file" id="file" name="file" class="custom-file-input" hidden>
              </label>
              <span class="custom-file-status" id="file-status">No file choosen</span>
              <span class="custom-file-square">
                <img src="images/upload-file.svg" alt="File upload">

                <svg class="icon">
                  <use href="#notice-check"></use>
                </svg>
              </span>
            </div>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-dark submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="sign-up-benefits">
  <div class="container-xxl sign-up__container">
    <h2 class="sign-up-benefits__title">When is comes to launching an important project think:</h2>
    <div class="sign-up-benefits__list">
      <div class="sign-up-benefits__item">
        <h3 class="sign-up-benefits__item-title">Economy &amp; Style</h3>
        <div class="sign-up-benefits__item-desc">
          Milan-to-market direct import advantages, guaranteed competitive discounts, currency exchange
          advantages, consolidated purchasing power, and immediate first-look access to the latest in
          contemporary Italian design offerings.
        </div>
      </div>
      <div class="sign-up-benefits__item">
        <h3 class="sign-up-benefits__item-title">Individual care</h3>
        <div class="sign-up-benefits__item-desc">
          We bring a comprehensive knowledge of available design options and a broad spectrum of furniture
          solutions to every collaboration. A personal design consultant works behind-the-scenes to find the
          perfect balance of assistance for you and your client, smoothing out the rough spots, and keeping
          your project on-time and on budget.
        </div>
      </div>
      <div class="sign-up-benefits__item">
        <h3 class="sign-up-benefits__item-title">State-of-the-art tools</h3>
        <div class="sign-up-benefits__item-desc">
          Maximize your efficiency and free yourself to focus on customer satisfaction while we support with
          CAD drawings, custom renderings, tear sheets, fabric and finish samples, everything you need, every
          step of the way.
        </div>
      </div>
      <div class="sign-up-benefits__item">
        <h3 class="sign-up-benefits__item-title">Exceptional logistics</h3>
        <div class="sign-up-benefits__item-desc">
          Whether you choose full-service, white glove delivery, our economical standard curbside service, or
          upgrade your standard service to Room-of-Choice, our delivery team is there to guarantee your
          furnishings arrive on schedule in perfect condition.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sign-up-receive">
  <div class="container-xxl sign-up__container">
    <h2 class="sign-up-receive__title">As a member of the Trade Program, you receive:</h2>

    <ul class="sign-up-receive__list">
      <li>Access to luxury upholstered and contract-grade furniture with a high level of customization (you can
        choose from 1000 finishes and colors to create individual interiors)</li>
      <li>Exclusive and pre-order access to collections only available for trade professionals</li>
      <li>Guaranteed trade discounts and tax exemptions across our full assortment of over 5,000 products. You
        will see the retail and your trade net prices</li>
      <li>Quality craftsmanship from over 60 elite Italian manufacturers</li>
      <li>Our dedicated trade and logistics team to manage all your orders and deliveries across the US, including
        white glove and multi-brand consolidated shipping options</li>
      <li>Complimentary tools to facilitate your work: samples, renders</li>
    </ul>
  </div>
</section>

<section class="sign-up-faq">
  <div class="container-xxl sign-up__container">
    <h2 class="sign-up-benefits__title">FAQ's</h2>
    <div class="sign-up-benefits__list">
      <div class="sign-up-benefits__item">
        <h3 class="sign-up-benefits__item-title">How does the Trade discount work?</h3>
        <div class="sign-up-benefits__item-desc">
          Trade and contract program members receive special discounts on our portfolio of brands and early
          access to new arrivals. Members receive tax-exempt purchasing privileges at our showrooms and a
          progressive trade discount scaled to volume of purchase.
        </div>
      </div>
      <div class="sign-up-benefits__item">
        <h3 class="sign-up-benefits__item-title">How do I apply for membership?</h3>
        <div class="sign-up-benefits__item-desc">
          New members of our program fill out a simple application form and upload a W-9, plus a resale
          certificate for verification and tax purposes.
        </div>
      </div>
      <div class="sign-up-benefits__item">
        <h3 class="sign-up-benefits__item-title">Is there a minimum order quantity?</h3>
        <div class="sign-up-benefits__item-desc">
          No minimum order is required. Bigger discounts are offered on larger orders.
        </div>
      </div>

      <div class="sign-up-benefits__item">
        <h3 class="sign-up-benefits__item-title">How do I connect with an IDI Trade Representative?</h3>
        <div class="sign-up-benefits__item-desc">
          As soon as you fill out the program application, our representative will be in contact to assist
          you.
        </div>
      </div>

      <div class="sign-up-benefits__item">
        <h3 class="sign-up-benefits__item-title">Are fabric and material samples available?</h3>
        <div class="sign-up-benefits__item-desc">
          Once your membership is registered and approved, you have full access to our extensive sample
          and swatch library.
        </div>
      </div>
      <div class="sign-up-benefits__item">
        <h3 class="sign-up-benefits__item-title">What are my shipping options? Is White Glove Delivery
          available?</h3>
        <div class="sign-up-benefits__item-desc">
          Your furniture will be delivered on time and in perfect condition just the way you ordered it.
          You receive exceptional customer care whether you choose full-service, white glove delivery, our
          economical standard curbside service, or upgrade your standard service to Room-of-Choice. We
          ensure your order is handled perfectly. Please note that online orders can only be shipped
          within the 48 continental United States
        </div>
      </div>
    </div>
  </div>
</section>