<header class="sign-up-header">
  <div class="container-xxl">
    <ul class="breadcrumbs current-mod">
      <li><a href="#">Walk in Closets</a></li>
      <li><a href="#">Trade Program</a></li>
      <li>Sign up</li>
    </ul>
  </div>
</header>