<section class="visualisation" id="visualisation-section">
  <div class="container-xl">
    <div class="visualisation__bg"></div>
    <div class="row align-items-end">
      <div class="col-lg-6">
        <div class="parallax-window visualisation__image" data-parallax="scroll" data-image-src="images/visualisation.webp" data-z-index="1"></div>
      </div>
      <div class="col-lg-6">
        <div class="visualisation__text">
          <h2 class=" visualisation__title">
            3D visualisation for apartments
          </h2>
          <p>Request a free consultation and we will make visualisation based on your apartment’s plan. We will guide you through the styles and sizes. </p>
          <a href="#" class="btn btn-primary">Request a free consultation</a>
        </div>
      </div>
    </div>
  </div>
</section>