<section class="brands">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-8">
        <div class="brands-items">
          <a href="#" class="brands-item fade-in-up">
            <img src="images/brand-1.webp" alt="">
          </a>
          <a href="#" class="brands-item fade-in-up">
            <img src="images/brand-2.webp" alt="">
          </a>
          <a href="#" class="brands-item fade-in-up">
            <img src="images/brand-3.webp" alt="">
          </a>
          <a href="#" class="brands-item fade-in-up">
            <img src="images/brand-4.webp" alt="">
          </a>
          <a href="#" class="brands-item fade-in-up">
            <img src="images/brand-5.webp" alt="">
          </a>
          <a href="#" class="brands-item fade-in-up">
            <img src="images/brand-6.webp" alt="">
          </a>
          <a href="#" class="brands-item fade-in-up">
            <img src="images/brand-7.webp" alt="">
          </a>
          <a href="#" class="brands-item fade-in-up">
            <img src="images/brand-8.webp" alt="">
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="brands-card fade-in-up">
          <h2>40+
            <span>Featured Brands</span>
          </h2>
          <a href="#" class="brands-card-link">
            Explore all brands
            <svg class="icon">
              <use xlink:href="#arr-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>