<section class="got-questions">
  <div class="container-xl">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="got-questions__title">Got questions?</h2>
        <p class="got-questions__subtitle">Please fill the form below, and our manager will contact you</p>
      </div>
      <div class="col-lg-6">
        <form action="#" class="got-questions__form" method="post">
          <input class="input-text" type="text" name="name" placeholder="Name*" required>
          <input class="input-text" type="tel" name="phone" placeholder="Phone*" required>
          <input class="input-text" type="email" name="email" placeholder="Email*" required>
          <textarea class="input-text" name="mess" placeholder="My question is..."></textarea>

          <button type="submit" class="btn btn-primary">Send request</button>
        </form>
      </div>
    </div>
  </div>
</section>