<header class="header">
  <div class="slider fade-in">
    <div class="slider-item">
      <img class="slider-item__image" src="images/main-slide-1.webp" alt="">
      <div class="container-xxl slider-content">
        <div class="row">
          <div class="col-lg-7 order-2 order-lg-1">
            <div class="slider-content__text">
              <div class="slider-content__tag">New spring collection 2025</div>
              <h1 class="slider-content__title">Elevate living with our Italian design</h1>
              <p class="slider-content__description">Discover elegance and functionality with our Italian designs, bringing sophistication, comfort, and timeless beauty to your living space</p>
              <a href="#" class="btn btn-primary">Explore all items<sup>128</sup></a>
            </div>
          </div>
          <div class="col-lg order-1 order-lg-2">
            <div class="slider-content__logo">
              <img src="images/main-slide-logo-1.webp" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <img class="slider-item__image" src="images/main-slide-2.webp" alt="">
      <div class="container-xxl slider-content">
        <div class="row">
          <div class="col-lg-7 order-2 order-lg-1">
            <div class="slider-content__text">
              <div class="slider-content__tag">Black Friday <span></span> Now - November,30</div>
              <h1 class="slider-content__title">Black color of Harmony - 15% off</h1>
              <p class="slider-content__description">Black Friday sale 15% off on any Natuzzi Italia product + free local* delivery</p>
              <a href="#" class="btn btn-primary">Explore all items<sup>128</sup></a>
            </div>
          </div>
          <div class="col-lg order-1 order-lg-2">
            <div class="slider-content__logo">
              <img src="images/main-slide-logo-1.webp" alt="">
            </div>
          </div>
  
          <div class="col-12 order-3">
            <p class="slider-content__footer">*not more than 30 miles away from the store</p>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <img class="slider-item__image" src="images/main-slide-3.webp" alt="">
      <div class="container-xxl slider-content">
        <div class="row">
          <div class="col-lg-7 order-2 order-lg-1">
            <div class="slider-content__text">
              <div class="slider-content__tag">Tax-free <span></span> August 10-11</div>
              <h1 class="slider-content__title">Tax-free weekend</h1>
              <p class="slider-content__description">Celebrate tax-free weekend with us!</p>
              <a href="#" class="btn btn-primary">Explore all items<sup>128</sup></a>
            </div>
          </div>
          <div class="col-lg order-1 order-lg-2">
            <div class="slider-content__logo">
              <img src="images/main-slide-logo-1.webp" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <img class="slider-item__image" src="images/main-slide-4.webp" alt="">
      <div class="container-xxl slider-content">
        <div class="row">
          <div class="col-lg-7 order-2 order-lg-1">
            <div class="slider-content__text">
              <div class="slider-content__tag">Special offer! <span></span> Now - May,31</div>
              <h1 class="slider-content__title">Italian Design Interiors</h1>
              <p class="slider-content__description">We create unique and elegant interiors that reflect your style and personality.</p>
              <a href="#" class="btn btn-primary">Explore all items<sup>128</sup></a>
            </div>
          </div>
          <div class="col-lg order-1 order-lg-2">
            <div class="slider-content__logo">
              <img src="images/main-slide-logo-1.webp" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl relative">
    <div class="slider-controls">
      <div class="slider-controls__prev">
        <svg class="icon">
          <use xlink:href="#arr-left"></use>
        </svg>
      </div>
      <div class="slider-controls__next">
        <svg class="icon">
          <use xlink:href="#arr-right"></use>
        </svg>
      </div>
    </div>
  </div>
</header>