<section class="kitchens scroll-section" data-numb="0.25"> 
  <div class="container-xxl">
    <h2 class="scroll-header kitchens__title">Timeless Italian kitchens</h2>

    <div class="kitchens__slider gallery-slider">
      {% for i in range(1, 6) %}
        <div class="kitchens__slider-item">
          <img src="images/kitchens-{{ i }}.webp" alt="kitchens-{{ i }}">
        </div>
      {% endfor %}
    </div>
    <div class="row align-items-end">
      <div class="col-lg order-2 order-lg-1">
        <a href="#" class="btn btn-dark"> 
          <span>See all kitchens<sup>14</sup></span> 
          <svg class="icon">
            <use xlink:href="#arr-right"></use>
          </svg>
        </a>
      </div>
      <div class="col-lg-9 order-1 order-lg-2">
        <div class="kitchens__slider-nav gallery-slider-nav">
          {% for i in range(1, 6) %}
            <div class="kitchens__slider-item">
              <img src="images/kitchens-{{ i }}.webp" alt="kitchens-{{ i }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>