<section class="reviews">
  <div class="container-xxl">
    <h2 class="reviews__title">What are clients think</h2>

    <div class="reviews__rate">
      <div class="reviews__rate-row">
        <div class="reviews__rate-number">4.5 <span class="d-lg-none">rating</span></div>
        <div class="reviews__rate-stars">
          <img src="images/star.svg" alt="">
          <img src="images/star.svg" alt="">
          <img src="images/star.svg" alt="">
          <img src="images/star.svg" alt="">
          <img src="images/star-half.svg" alt="">
        </div>
      </div>
      <div class="reviews__rate-info">
        <p>
          <span>43</span>
          reviews <br class="d-lg-none"> from
          <svg class="icon">
            <use xlink:href="#google"></use>
          </svg>
        </p>
      </div>
    </div>
  </div>
  <div class="reviews__slider">
    {% for i in range(1, 6) %}
      <div>
        <div class="reviews__item">
          <p>“Amazing quality and design! My new Italian sofa is both stylish and comfortable. Great service and fast delivery. Highly recommend!”</p>

          <div class="reviews__author">Mike Turetsky</div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>