<section class="room-furniture scroll-section" data-numb="0.3">
  <div class="container-xxl">
    <h2 class="scroll-header room-furniture__title">
      Living room furniture
    </h2>

    <div class="room-furniture__row">
      <div class="room-furniture__image-bg parallax-window"  data-parallax="scroll" data-image-src="images/furniture-bg.webp" data-position-x="left">

        <a href="#" class="btn btn-dark"><span>All items <sup>235</sup> living room </span></a>
      </div>

      <div class="row room-furniture__slider">
        <div class="col-12">
          <div class="room-furniture__card--small">
            <a href="#" class="room-furniture__card">
              <div class="room-furniture__image">
                <img src="images/furniture-1.webp" alt="">
              </div>
              <div class="room-furniture__info">Recliner chairs <sup>347</sup></div>
            </a>
          </div>
        </div>
        <div class="col-12">
          <div class="room-furniture__card--large">
            <a href="#" class="room-furniture__card">
              <div class="room-furniture__image">
                <img src="images/furniture-2.webp" alt="">
              </div>
              <div class="room-furniture__info">Sofas & sectionals <sup>93</sup></div>
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <a href="#" class="room-furniture__card">
            <div class="room-furniture__image">
              <img src="images/furniture-3.webp" alt="">
            </div>
            <div class="room-furniture__info">Wall & TV stands <sup>45</sup></div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="room-furniture__card">
            <div class="room-furniture__image">
              <img src="images/furniture-4.webp" alt="">
            </div>
            <div class="room-furniture__info">Lounge chairs <sup>456</sup></div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="room-furniture__card">
            <div class="room-furniture__image">
              <img src="images/furniture-5.webp" alt="">
            </div>
            <div class="room-furniture__info">Coffee & end tables <sup>38</sup></div>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="#" class="room-furniture__card">
            <div class="room-furniture__image">
              <img src="images/furniture-6.webp" alt="">
            </div>
            <div class="room-furniture__info">Bookcases & shelving <sup>38</sup></div>
          </a>
        </div>
      </div>
      <div class="d-lg-none text-center">
        <a href="#" class="btn btn-dark w-full"><span>All items <sup>235</sup> living room </span></a>
      </div>
    </div>
  </div>
</section>