<section class="visit-our-showroom scroll-section">
  <div class="container-xl">
    <h2 class="scroll-header visit-our-showroom__title">
      Visit our showroom!
    </h2>

    <div class="parallax-window visit-our-showroom__image" data-parallax="scroll" data-image-src="images/showroom-1.webp"></div>

    <div class="visit-our-showroom__text">
      <div>400+units on display</div>
      <div>10 000 sq.f.</div>
    </div>

    <div class="visit-our-showroom__cards">
      <div class="row">
        <div class="col-md-6">
          <div class="visit-our-showroom__card">
            <div class="visit-our-showroom__card-text">
              <h4>19 Spring Street
                Watertown, MA 02472</h4>
            </div>
              <a href="#" class="btn btn-dark">
                <span>Open in Google Maps</span>
                <svg class="icon">
                  <use xlink:href="#target"></use>
                </svg>
              </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="visit-our-showroom__card">
            <div class="visit-our-showroom__card-text">
              <ul>
                <li>Monday <span>By appointment</span></li>
                <li>Tuesday <span>10 AM - 6 PM</span></li>
                <li>Wednesday <span>10 AM - 6 PM</span></li>
                <li>Thursday <span>11 AM - 7 PM</span></li>
                <li>Friday <span>10 AM - 6 PM</span></li>
                <li>Saturday <span>10 AM - 6 PM</span></li>
                <li>Sunday <span>12 PM - 5 PM</span></li>
              </ul>
            </div>
            
            <a href="#" class="btn btn-dark">
              <span>Book an appointment</span>
              <svg class="icon">
                <use xlink:href="#arr-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>