<section class="walk-in-closets scroll-section" data-numb="0.3">
  <div class="container-xxl">
    <h2 class="scroll-header walk-in-closets__title">Walk-in closets</h2>

    <div class="walk-in-closets__gallery">
      <div class="row">
        <div class="col-lg-8">
          <div class="walk-in-closets__item walk-in-closets__item--large">
            <img src="images/walk-in-closets-1.webp" alt="">
          </div>

          <div class="walk-in-closets__content d-none d-lg-flex">
            <h3>Crafting Designs to Match Your Unique Style and Budget</h3>
            <div class="walk-in-closets__btn-group">
              <a href="#" class="btn btn-dark"><span>Schedule a consultation</span></a>
              <a href="#" class="btn btn-primary">
                <span>Explore all closets<sup>3</sup></span> 
                <svg class="icon">
                  <use xlink:href="#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div> 
        <div class="col-lg-4">
          <div class="walk-in-closets__items">
            <div class="walk-in-closets__item">
              <img src="images/walk-in-closets-2.webp" alt="">
            </div>
            <div class="walk-in-closets__item">
              <img src="images/walk-in-closets-3.webp" alt="">
            </div>
            <div class="walk-in-closets__item">
              <img src="images/walk-in-closets-4.webp" alt="">
            </div>
          </div>
        </div>
        <div class="col-12 d-lg-none">
          <div class="walk-in-closets__content">
            <h3>Crafting Designs to Match Your Unique Style and Budget</h3>
            <div class="walk-in-closets__btn-group">
              <a href="#" class="btn btn-dark w-full"><span>Schedule a consultation</span></a>
              <a href="#" class="btn btn-primary w-full">
                <span>Explore all closets<sup>3</sup></span> 
                <svg class="icon">
                  <use xlink:href="#arr-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>