.trending {
    padding: 60px 0;
    overflow: hidden;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
        padding: vw(60px) 0;
    }

    @media screen and (max-width: 1023px) {
        padding: 40px 0;
    }

    &__title {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 40px;
        margin-bottom: 16px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media screen and (max-width: 1439px) {
            overflow-x: auto;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .product__card {
        

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
            min-width: vw(146px);
            height: vw(146px);
        }

        .product__image {
            width: 146px;
            height: 146px;
            min-height: 146px;
            margin-bottom: 12px;
            img {
                width: 100%;
            height: 100%;
            object-fit: contain;
            mix-blend-mode: multiply;
            }
        }
    }

    .product__name {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;
    }
}