// Utility classes
.hidden {
  display: none !important;
}

// Checkout Page Block
.checkout-page {
  &__section {
    padding: 234px 0 50px;
    position: relative;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      padding: vw(234px) 0 vw(50px);
    }
  
    @media screen and (max-width: 1023px) {
      padding: 92px 0 50px;
    }

    &-wrap {
      max-width: 762px;
    }

    &-success {
      max-width: 650px;
      &-title {
        font-size: 40px;
        font-weight: 300;
        line-height: 56px;
        margin-bottom: 32px;

        b {
          display: block;
          font-weight: 500;
        }
      }

      &-text {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        a {
          color: #000;
        }
      }

      &-actions {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 60px;
        flex-wrap: wrap;

        .btn {
          @media screen and (max-width: 1023px) {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }

    &--order-details {
      padding: 80px 0;
      .checkout-page__section-title {
        color: #000;
        font-size: 40px;
        font-weight: 300;
        line-height: 56px;
        margin-bottom: 24px;

        @media screen and (max-width: 1023px) {
          font-size: 38px;
          line-height: 1.364;
        }

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          font-size: vw(40px);
        }
      }

      .checkout-page__step-content {
        gap: 20px;
      }
    }
  }

  &__title {
    font-size: 64px;
    font-weight: 300;
    line-height: 1.09375;
    color: $color-black;
    margin-bottom: 60px;

    @media screen and (max-width: 1023px) {
      font-size: 38px;
      line-height: 1.158;
      margin-bottom: 40px;
    }
  
    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(64px);
      margin-bottom: vw(60px);
    }
  }

  &__step {
    display: flex;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #C1C1C1;
    padding: 32px 0;
    width: 100%;

    &--last {
      border-bottom: 1px solid #C1C1C1;
    }

    &-number {
      width: 52px;
      height: 52px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.333;
      transition: all $transition-duration;
      background: $color-black;
      color: $color-white;
  
  
      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        width: vw(52px);
        height: vw(52px);
        font-size: vw(24px);
      }
    }

    &-text {
      font-size: 40px;
      font-weight: 300;
      line-height: 1.4;
      transition: color $transition-duration;
      color: $color-black;
  
      @media screen and (max-width: 1023px) {
        font-size: 24px;
        line-height: 1.364;
      }
  
      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(40px);
      }
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      padding-bottom: 32px;

      &-item {
        background: #F8F8F8;
        min-width: 280px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1 0 0;

        &-title {
          font-size: 24px;
          font-weight: 500;
          line-height: 1.333;
          margin-bottom: 6px;
        }

        &-text {
          font-size: 18px;
          font-weight: 300;
          line-height: 1.364;
          color: $color-black;
          margin-top: 0;
          margin-bottom: 0;

          &:last-child {
            margin-top: 32px;
          }
        }
      }


      &--shipping {
        @media screen and (max-width: 576px) {
          gap: 12px;
        }

        .checkout-page__form-actions {
          margin-top: 0;
        }
      }

      &--shipping-summary {
        .checkout-page__step-shipping-item {
          padding: 20px;
          display: block;

          &:hover {
            background: #F8F8F8;
          }
        }
      }
    }


    &-shipping {
   
      &-item {
        display: flex;
        padding: 40px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background: #F8F8F8;
        align-self: stretch;
        cursor: pointer;
        position: relative;
        width: 100%;

        &:hover {
          background: #EBEBEB;
        }
        
        @media screen and (max-width: 576px) {
          padding: 20px;
        }

        span {
          width: 100%;

          @media screen and (max-width: 576px) {
            padding-left: 0 !important;
            padding-top: 36px;
            padding-right: 36px;
          }

          &:before {
            top: 2px !important;
          }

          &:after {
            top: 8px !important;
          }
        }
        
        h4 {
          color: #000;
          font-size: 24px;
          font-weight: 500;
          line-height: 32px;
          margin-bottom: 6px;
        }

        p {
          color: #000;
          font-size: 18px;
          font-weight: 300;
          line-height: normal;
          margin-bottom: 0;
        }

        &-price {
          display: flex;
          align-items: center;
          gap: 8px;
          color: #000;
          font-size: 32px;
          font-weight: 500;
          line-height: normal;
          justify-content: flex-end;
          flex-wrap: wrap;

          @media screen and (max-width: 576px) {
            justify-content: flex-start;
            margin-top: 24px;
          }
  
          .icon {
            width: 32px;
            height: 32px;
          }

          &-tooltip {
            @media screen and (max-width: 576px) {
              position: absolute;
              right: 0;
              top: 0;
            }
          }

          &-text {
            color: #000;
            text-align: right;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;  
            width: 100%;
            display: block;
            text-align: right;
          }
        }
      }
    }
  }


  &__progress {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    gap: 32px;

    @media screen and (max-width: 1023px) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(32px);
      margin-bottom: vw(60px);
    }
  }

  &__progress-step {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 32px;
    padding-top: 32px;

    &:first-child {
      border-top: 1px solid #C1C1C1;
    }

    @media screen and (max-width: 1023px) {
      gap: 16px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(20px);
    }
  }

  &__form {
    margin-bottom: 60px;

    @media screen and (max-width: 1023px) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      margin-bottom: vw(60px);
    }

    &--payment {
      padding-bottom: 32px;
      border-bottom: 1px solid #C1C1C1;

      .checkout-page__form-actions {
       margin-top: 12px;
      }
     }

    &-section {
      .custom-checkbox {
        span {
          font-size: 14px;
          min-height: 24px;
          display: block;

          a {
            color: $color-black;
            font-weight: 600;
          }
        }
      }
    }
  }

  &__section-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.333;
    color: $color-black;
    margin-bottom: 24px;

    @media screen and (max-width: 1023px) {
      font-size: 20px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(24px);
      margin-bottom: vw(24px);
    }
  }

  &__form-fields {
   .row {
    margin-left: -16px;
    margin-right: -16px;

    [class*="col-"] {
      padding-left: 16px;
      padding-right: 16px;
    }
   }
  }

  &__form-field {
    display: block;
    width: 100%;
    margin-bottom: 32px;
    position: relative;

    .card-icon {
      position: absolute;
      right: 0;
      top: 0;
      width: 60px;
      height: 40px;
    }
  }

  &__same-as-shipping {
    margin-bottom: 44px;
    margin-top: 12px;

    span {
      color: $color-black;
      font-size: 24px;
      font-weight: 300;
      line-height: 1;
      cursor: pointer;
      padding-left: 44px;

      &:before {
        width: 28px !important;
        height: 28px !important;
      }

      &:after {
        font-size: 24px !important;
        line-height: 1 !important;
        width: 28px !important;
        height: 28px !important;
        top: 0 !important;
        left: 0 !important;
      }
    }

    @media screen and (max-width: 1023px) {
      margin-bottom: 24px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      margin-bottom: vw(44px);
    }
  }

  &__billing-address {
    display: block;

    &--hidden {
      display: none;
    }
  }

  &__form-actions {
    margin-top: 60px;
    width: 100%;

    @media screen and (max-width: 1023px) {
      margin-top: 40px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      margin-top: vw(60px);
    }

    .btn {
      width: 100%;
      max-width: 100%;

      @media screen and (max-width: 1023px) {
        padding: 20px 30px;
        font-size: 24px;
        line-height: 1.333;
      }
    }
  }

  &__edit {
    background: none;
    border: none;
    font-size: 18px;
    color: $color-black;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 auto;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}

// Order Summary Block
.order-summary {
  background: #F8F8F8;
  padding: 40px 20px;
  border-radius: 0;

  @media screen and (max-width: 1023px) {
    margin-top: 40px;
    margin-left: -20px;
    margin-right: -20px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1320px) {
    padding: vw(40px) vw(20px);
  }

  &__title {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.438;
    color: $color-black;
    margin-bottom: 32px;

    @media screen and (max-width: 1023px) {
      font-size: 32px;
      line-height: 1.438;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(32px);
      margin-bottom: vw(32px);
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;

    @media screen and (max-width: 1023px) {
      gap: 12px;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(12px);
      margin-bottom: vw(32px);
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 1023px) {
      gap: 20px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(20px);
    }

    p {
      font-size: 18px;
    }
  }

  &__item-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.364;
    color: $color-black;

    @media screen and (max-width: 1023px) {
      font-size: 18px;
      line-height: 1.364;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(18px);
    }

    &--price {
      font-weight: 800;
    }
  }

  &__coupon-section {
    border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    padding: 20px 0;
    margin-bottom: 32px;

    @media screen and (max-width: 1023px) {
      padding: 20px 0;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      padding: vw(20px) 0;
      margin-bottom: vw(32px);
    }
  }

  &__coupon-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 1023px) {
      gap: 20px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(20px);
    }
  }

  &__coupon-info {
    display: flex;
    align-items: center;
    gap: 8px;

    @media screen and (max-width: 1023px) {
      gap: 8px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(8px);
    }
  }

  &__coupon-icon {
    color: #259458;

    svg {
      width: 24px;
      height: 24px;
    }

    @media screen and (max-width: 1023px) {
      width: 24px;
      height: 24px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      width: vw(24px);
      height: vw(25px);
    }
  }

  &__coupon-details {
    display: flex;
    flex-direction: column;
    gap: 2px;

    @media screen and (max-width: 1023px) {
      gap: 1px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(2px);
    }
  }

  &__coupon-code {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.364;
    color: $color-black;

    b {
      font-weight: 700;
    }

    @media screen and (max-width: 1023px) {
      font-size: 16px;
      line-height: 1.364;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(18px);
    }
  }

  &__coupon-actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__coupon-discount {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.364;
    color: $color-black;

    @media screen and (max-width: 1023px) {
      font-size: 16px;
      line-height: 1.364;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(18px);
    }
  }

  &__coupon-remove {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.364;
    color: #FF0000;
    cursor: pointer;
    padding: 0;

    @media screen and (max-width: 1023px) {
      font-size: 16px;
      line-height: 1.364;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(18px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 32px;

    @media screen and (max-width: 1023px) {
      gap: 20px;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(20px);
      margin-bottom: vw(32px);
    }
  }

  &__total-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.364;
    color: $color-black;

    @media screen and (max-width: 1023px) {
      font-size: 18px;
      line-height: 1.364;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(18px);
    }

    &--price {
      font-size: 32px;
      font-weight: 500;
      line-height: 1.364;

      @media screen and (max-width: 1023px) {
        font-size: 32px;
        line-height: 1.364;
      }

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(32px);
      }
    }
  }

  &__shipping-notice {
    display: flex;
    gap: 12px;
    padding: 6px 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(24px);

    @media screen and (max-width: 1023px) {
      gap: 12px;
      padding: 6px 0;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(12px);
      padding: vw(6px) 0;
    }
  }

  &__notice-icon {

    .icon {
      width: 20px;
      height: 20px;
    }

    @media screen and (max-width: 1023px) {
      width: 20px;
      height: 20px;
      margin-top: 2px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      width: vw(20px);
      height: vw(20px);
      margin-top: vw(2px);
    }
  }

  &__notice-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.364;
    color: $color-black;
    margin: 0;

    @media screen and (max-width: 1023px) {
      font-size: 14px;
      line-height: 1.364;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(14px);
    }
  }
}

// Responsive Design
@media screen and (max-width: 1023px) {
  .checkout-page {
    .container-xxl {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__progress {
      .checkout-page__progress-step {
        .checkout-page__step-text {
          font-size: 24px;
        }
      }
    }

    &__form-fields {
      .row {
        margin-left: -10px;
        margin-right: -10px;

        [class*="col-"] {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  .order-summary {
    position: sticky;
    top: 20px;
    z-index: 10;
  }
}

@media screen and (max-width: 767px) {
  .checkout-page {
    &__title {
      font-size: 36px;
    }

    &__progress-step {
      .checkout-page__step-number {
        width: 36px;
        height: 36px;
        font-size: 18px;
      }

      .checkout-page__step-text {
        font-size: 18px;
      }
    }

    &__section-title {
      font-size: 18px;
    }

    &__input {
      font-size: 16px;
      min-height: 32px;
    }

    &__checkbox-text {
      font-size: 16px;
    }

    &__btn {
      padding: 14px 20px;
      font-size: 18px;
    }
  }

  .order-summary {
    &__title {
      font-size: 20px;
    }

    &__item-text {
      font-size: 14px;

      &--price {
        font-size: 14px;
      }
    }

    &__coupon-code,
    &__coupon-discount,
    &__coupon-remove {
      font-size: 14px;
    }

    &__total-text {
      font-size: 14px;

      &--price {
        font-size: 24px;
      }
    }

    &__notice-text {
      font-size: 11px;
    }
  }
}

.checkout-page__cart-order-summary {
  padding-bottom: 80px;

  @media screen and (max-width: 1023px) {
    padding-bottom: 0;
  }

  .checkout-page__section-title {
    color: #000;
    font-size: 40px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 24px;

    @media screen and (max-width: 1023px) {
      font-size: 38px;
      line-height: 1.364;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(40px);
    }
  }


}
.shopping-cart-content-item {
  &--summary {
    @media screen and (max-width: 1023px) {
      padding: 0;
    }
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}