@import "./partials/menu.scss";
@import "./main-page/header.scss";
@import "./main-page/brands.scss";
@import "./main-page/parallax-animation.scss";
@import "./main-page/visit-our-showroom.scss";
@import "./main-page/stock-items.scss";
@import "./main-page/room-furniture.scss";
@import "./main-page/dinning-room.scss";
@import "./main-page/3d-visualisation.scss";
@import "./main-page/walk-in-closets.scss";
@import "./main-page/kitchens.scss";
@import "./main-page/reviews.scss";
@import "./main-page/got-questions.scss";
@import "./partials/subscribe.scss";
@import "./partials/footer.scss";
@import "./animation.scss";
@import "./partials/search.scss";

@import "./search/header.scss";
@import "./search/popular.scss";
@import "./partials/filters.scss";
@import "./partials/sidebar.scss";
@import "./partials/modal.scss";

@import "./catalogue/header.scss";
@import "./product-page/header.scss";
@import "./product-page/interior-overview.scss";
@import "./product-page/other-overview.scss";

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;

  &.current-mod {
    li {
      &::before {
        background: #A5A5A5;
      }

      a {
        color: #A5A5A5;

        &:hover {
          color: #000;
        }
      }
    }
  }

  li {
    position: relative;
    padding-right: 20px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-wrap: nowrap;

    &::before {
      content: "";
      width: 2px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 50%;
      right: 9px;
      transform: translateY(-50%);
    }

    &:last-child {
      padding-right: 0;

      &::before {
        display: none;
      }
    }

    a {
      display: block;
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-decoration: none;
      transition: .3s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

img {
  max-width: 100%;
}

body {
  background: #FFF;
}

.container-xxl {
  @media screen and (max-width: 1023px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn {
  padding: 20px 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: 350;
  line-height: 32px;
  max-width: fit-content;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 0;

  sup {
    font-weight: 500;
  }

  @media screen and (max-width: 1023px) {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 21px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1320px) {
    padding: vw(20px) vw(30px);
    font-size: vw(24px);
    line-height: vw(32px);
  }

  svg {
    width: 32px;
    height: 32px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      width: ve(32px);
      height: ve(32px);
    }
  }

  &-primary {
    color: #000;
    background: #FFF;

    &:hover {
      background: #F2F2F2;
      transform: translateY(-2px);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:focus,
    &:active {
      outline: none;
      background: #E1E1E1;
    }

    &:disabled {
      opacity: 0.5;
      background: #E1E1E1;
    }
  }

  &-outline {
    border: 1px solid #000;
  }

  &-dark {
    background: #070707;
    color: #fff;

    &:hover {
      background: #202020;
      transform: translateY(-2px);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:focus,
    &:active {
      outline: none;
      background: #2D2D2D;
    }

    &:disabled {
      opacity: 0.5;
      background: #2D2D2D;
    }
  }
}

.relative {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.gallery-slider {
  .slick-slide {
    position: relative;

    &::before {
      content: "";
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%) no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &-nav {
    padding-left: 50px;
    padding-right: 40px;
    text-align: center;
    position: relative;
    margin-top: -50px;
    max-width: 976px;
    margin-left: auto;

    @media screen and (max-width: 1023px) {
      padding-left: 0;
      padding-right: 0;
      margin-top: -30px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      padding-left: vw(50px);
      padding-right: vw(40px);
      margin-top: vw(-50px);
      max-width: vw(976px);
    }

    .slick-arrow {
      width: 32px;
      height: 32px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        width: vw(32px);
        height: vw(32px);
      }
    }

    .slick-slide {
      padding: 0 10px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        padding: 0 vw(10px);
      }
    }

    img {
      max-width: 205px;
      aspect-ratio: 1/1;
      object-fit: cover;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        max-width: vw(205px);
      }

      @media screen and (max-width: 1023px) {
        width: 100px;
        height: 100px;
        box-shadow: 0px 4px 11.8px 0px rgba(0, 0, 0, 0.15);
        margin-bottom: 12px;
      }
    }
  }

  &-prev {
    left: 0;
  }

  &-next {
    right: 0;
  }
}

label {
  position: relative;
  width: 100%;
  display: block;
}

.input-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  /* 166.667% */
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  background: 0 0;
  width: 100%;
  min-height: 40px;
  padding-bottom: 5px;

  &.error {
    color: #F00;
    border-color: #F00;

    &::placeholder {
      color: #F00;
      opacity: 1;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1320px) {
    font-size: vw(24px);
    line-height: vw(40px);
    min-height: vw(40px);
    padding-bottom: vw(5px);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.80);
    position: absolute;
    bottom: 5px;
    left: 0;
  }

  &:focus {
    outline: 0;
  }
}

.error-allert {
  color: #F00;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  /* 162.5% */
  margin-top: 6px;
}

.slick-dots {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 32px 0 0;

  li {
    button {
      display: none;
    }

    width: 6px;
    height: 6px;
    background: #D9D9D9;

    &.slick-active {
      background: #070707;
      width: 12px;
      height: 12px;
    }
  }
}

.w-full {
  width: 100% !important;
  max-width: 100% !important;
}

.dropdown {
  &-wrapper {
    position: relative;
    display: inline-flex;
    width: fit-content;
  }

  &-trigger {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F8F8F8;
    transition: background-color 0.3s, color 0.3s;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: relative;
    cursor: pointer;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      padding: vw(10px);
      gap: vw(10px);
      font-size: vw(14px);
    }

    b {
      font-weight: 500;
    }

    .arrow {
      width: 20px;
      height: 20px;
      transition: .3s;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        width: vw(20px);
        height: vw(20px);
      }
    }


    &.is-selected {
      background-color: #000000;
      color: #ffffff;
    }

    &.is-open {
      background-color: #000000;
      color: #ffffff;

      .arrow {
        transform: rotate(-180deg);
      }
    }
  }

  &-panel {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 235px;
    max-height: 345px;
    overflow-y: auto;
    z-index: 100;
    margin-top: 4px;
    background: #FFF;
    box-shadow: 0px 4px 11.8px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      min-width: vw(235px);
      max-height: vw(345px);
      margin-top: vw(4px);
      padding: vw(20px);
    }
  }

  &-search {
    margin-bottom: 14px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      margin-bottom: vw(14px);
    }

    input {
      width: 100%;
      padding: 10px 0;
      border-radius: 0;
      border: 0;
      background: 0 0;
      border-bottom: 1px solid #000;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21.5318 20.4696L16.8378 15.7765C18.1983 14.1431 18.8767 12.048 18.7319 9.92715C18.5871 7.80629 17.6302 5.82289 16.0603 4.38956C14.4904 2.95623 12.4284 2.18333 10.3031 2.23163C8.17785 2.27993 6.15303 3.14571 4.64986 4.64888C3.14669 6.15205 2.2809 8.17687 2.2326 10.3021C2.1843 12.4274 2.95721 14.4894 4.39054 16.0593C5.82387 17.6293 7.80726 18.5861 9.92813 18.7309C12.049 18.8757 14.144 18.1973 15.7774 16.8368L20.4706 21.5308C20.5403 21.6005 20.623 21.6558 20.714 21.6935C20.8051 21.7312 20.9026 21.7506 21.0012 21.7506C21.0997 21.7506 21.1973 21.7312 21.2884 21.6935C21.3794 21.6558 21.4621 21.6005 21.5318 21.5308C21.6015 21.4612 21.6568 21.3784 21.6945 21.2874C21.7322 21.1963 21.7516 21.0988 21.7516 21.0002C21.7516 20.9017 21.7322 20.8041 21.6945 20.713C21.6568 20.622 21.6015 20.5393 21.5318 20.4696ZM3.75119 10.5002C3.75119 9.16519 4.14707 7.86015 4.88877 6.75011C5.63047 5.64008 6.68468 4.77492 7.91808 4.26403C9.15148 3.75314 10.5087 3.61946 11.8181 3.87991C13.1274 4.14036 14.3302 4.78324 15.2742 5.72724C16.2182 6.67125 16.861 7.87398 17.1215 9.18335C17.3819 10.4927 17.2483 11.8499 16.7374 13.0833C16.2265 14.3167 15.3613 15.3709 14.2513 16.1126C13.1413 16.8543 11.8362 17.2502 10.5012 17.2502C8.71159 17.2482 6.99585 16.5364 5.73041 15.271C4.46497 14.0056 3.75318 12.2898 3.75119 10.5002Z' fill='black'/%3E%3C/svg%3E");
      background-position: right center;
      background-repeat: no-repeat;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        padding: vw(10px) 0;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(14px);
    }
  }

  &-option {
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
      &[type="checkbox"] {
        margin-right: 12px;
        width: 24px;
        height: 24px;
        border: 2px solid #000;
        filter: grayscale(1);
        border-radius: 3px;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          margin-right: vw(12px);
          width: vw(24px);
          height: vw(24px);
        }
      }

      &[type="radio"] {
        margin-right: 12px;
        width: 24px;
        height: 24px;
        border: 2px solid #000;
        filter: grayscale(1);

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          margin-right: vw(12px);
          width: vw(24px);
          height: vw(24px);
        }

      }
    }
  }

  &-more {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: underline;
    cursor: pointer;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(14px);
    }
  }
}


.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border: 1px solid #C1C1C1;
  background: #FFF;

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 12px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    width: 100%;
    cursor: pointer;

    @media screen and (max-width: 1023px) {
      font-size: 16px;
    }

    span {
      gap: 12px;
      display: flex;
      align-items: center;
    }

    svg {
      width: 32px;
      min-width: 32px;
      height: 32px;
      transition: .3s;
    }

    &.open {
      .accordion__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    padding: 4px 20px 20px;
    display: none;
    flex-direction: column;
    gap: 24px;
  }

  &__logo {
    img {
      width: 100%;
    }
  }
}

.text-short {

  &-more {
    display: none;

    @media screen and (max-width: 1023px) {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-decoration: underline;
      display: block;
    }
  }

  @media screen and (max-width: 1023px) {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: .3s;

    &.open {
      overflow: visible;
      display: -webkit-box;
      -webkit-line-clamp: inherit;
      -webkit-box-orient: vertical;
    }
  }
}

.view-details {
  position: relative;
  background: #000;
  cursor: pointer;
  line-height: 0;
  
  &:hover {
    img {
      opacity: .76;
    }

    .view-details__button {
      opacity: 1;
    }
  }
  img {
    transition: .3s;
    width: 100%;
    background: #fff;
  }

  &__button {
    display: inline-flex;
    height: 42px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: .3s;

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}