.brands {
  padding: 100px 0 100px;
  background: #F3F4F6;

  @media screen and (min-width: 1024px) and (max-width: 1320px) {
    padding: vw(100px) 0 vw(100px);
  }

  @media screen and (max-width: 1023px) {
    padding: 80px 0 40px;
  }

  &-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      gap: vw(20px);
    }

    @media screen and (max-width: 1023px) {
      gap: 12px;
      margin-bottom: 20px;
    }
  }

  &-item {
    display: flex;
    min-width: 169px;
    flex: 1;
    height: 148px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #FFF;
    transition: .15s;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      min-width: vw(169px);
      height: vw(148px);
    }

    @media screen and (max-width: 767px) {
      min-width: calc(50% - 12px);
      height: 72px;
    }

    &:hover {
      transform: translateY(-2px);
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
      @media screen and (max-width: 767px) {
        max-height: 45px;
      }
    }
  }

  &-card {
    background: #FFF;
    min-height: 427px;
    padding: 30px 32px 30px 40px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: .15s;

    &:hover {
      transform: translateY(-2px);
    }

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      min-height: vw(427px);
      padding: vw(30px) vw(32px) vw(30px) vw(40px);
    }

    @media screen and (max-width: 767px) {
      min-height: auto;
      padding: 8px 16px;
    }

    h2 {
      color: #374151;
      font-size: 100px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(100px);
      }

      @media screen and (max-width: 767px) {
        font-size: 58px;
      }

      span {
        display: block;
        color: $black;
        font-size: 24px;
        font-weight: 350;
        line-height: 22.941px; /* 95.589% */

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          font-size: vw(24px);
          line-height: vw(22.941px);
        }

        @media screen and (max-width: 767px) {
          font-size: 16px;
          line-height: normal;
          margin-bottom: 16px;
          color: #6B7280;
        }
      }
    }

    &-link {
      margin-top: auto;
      margin-left: auto;
      color: $black;
      font-size: 32px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 12px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      border: 0;
      background: none;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(32px);
        gap: vw(12px);
      }

      @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 32px;
      }

      svg {
        transition: all 0.3s ease-in-out;
        width: 32px;
        height: 32px;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          width: vw(32px);
          height: vw(32px);
        }

        @media screen and (max-width: 767px) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
