.header {
  padding-top: 184px;
  background: #000;
  margin-bottom: 52px;
}

.slider {
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      display: block;
      background: linear-gradient(307deg, rgba(0, 0, 0, 0.00) 8.79%, rgba(0, 0, 0, 0.45) 65.07%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    &__image {
      width: 100%;
      height: calc(100vh - 184px);
      object-fit: cover;
      object-position: center;
      position: relative;
      z-index: 0;
    }
  }

  &-content {
    padding: 58px 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    >.row {
      height: 100%;
      >.col-lg-7 {
        height: 100%;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__tag {
      color: #FFF;
      font-size: 24px;
      font-style: normal;
      font-weight: 350;
      line-height: 22.941px; /* 95.589% */
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background: rgba(180, 88, 255, 0.64);
      backdrop-filter: blur(12px);
      width: fit-content;
      margin-bottom: 32px;
      position: relative;
      min-height: 54px;

      span {
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          background: #B4B4B4;
          width: 1px;
          height: 34px;
          transform: translateY(-50%);
        }
      }
    }

    &__title {
      color: #FFF;
      font-size: 70px;
      font-style: normal;
      font-weight: 300;
      line-height: 72px; /* 102.857% */
      margin-bottom: 12px;
    }

    &__description {
      color: #FFF;
      font-size: 24px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
      margin-bottom: 32px;
    }

    &__footer {
      margin-top: auto;
      color: #FFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
    }

    &__logo {
      display: flex;
      width: 400px;
      height: 210px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      padding: 60px;
      margin-left: auto;
      background: rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(4px);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      button {
        display: none;
      }
      width: 6px;
      height: 6px;
      background: #D9D9D9;

      &.slick-active {
        background: #fff;
        width: 12px;
        height: 12px;
      }
    }
  }


  &-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 5;
    transform: translateY(-50%);

    .slick-arrow {
      display: flex;
      width: 72px;
      height: 72px;
      padding: 20px;
      align-items: center;
      cursor: pointer;
      background: #FFF;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #000;
        color: #FFF;
      }
    }

    &__prev {
      border-right: 1px solid var(--Palette-gray-200, #E5E7EB);
    }

    &__next {
      border-left: 1px solid var(--Palette-gray-200, #E5E7EB);
    } 
  }
}