.header {
  padding-top: 184px;
  background: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 67.41%, rgb(243, 244, 246) 67.7%, rgb(243, 244, 246) 100%);
  padding-bottom: 36px;
  overflow: hidden;
  @media screen and (min-width: 1024px) and (max-width: 1320px) {
    padding-top: vw(184px);
  }

  @media screen and (max-width: 1023px) {
    padding-top: 60px;
  }

  .btn-primary {
    &:hover {
      background: #070707;
      color: #FFF;
    }

    &:focus,
    &:active {
      outline: none;
      background: #474747;
      color: #FFF;
    }
  }
}

.slider {
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      display: block;
      background: linear-gradient(307deg, rgba(0, 0, 0, 0.00) 8.79%, rgba(0, 0, 0, 0.45) 65.07%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    &__image {
      width: 100%;
      height: calc(100vh - 220px);
      object-fit: cover;
      object-position: center;
      position: relative;
      z-index: 0;
      max-height: 700px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        height: calc(100vh - vw(220px));
      }
      
      @media screen and (max-width: 1023px) {
        height: calc(100vh - 96px);
      }
      
    }
  }

  &-content {
    padding: 58px 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      padding: vw(58px) 30px;
    }

    @media screen and (max-width: 1023px) {
      padding-top: 24px;
    }

    >.row {
      height: 100%;
      >.col-lg-7 {
        height: 100%;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      height: calc(100% - 155px);

      .btn {
        margin-top: auto;
        @media screen and (max-width: 767px) {
          max-width: 100%;
          width: 100%;
          margin-bottom: 40px;
        }
      }
    }

    &__tag {
      color: #FFF;
      font-size: 24px;
      font-style: normal;
      font-weight: 350;
      line-height: 22.941px; /* 95.589% */
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background: rgba(180, 88, 255, 0.64);
      backdrop-filter: blur(12px);
      width: fit-content;
      margin-bottom: 32px;
      position: relative;
      min-height: 54px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(24px);
        line-height: vw(22.941px);
        padding: vw(10px) vw(20px);
        gap: vw(10px);
        margin-bottom: vw(32px);
        min-height: vw(54px);
      }

      @media screen and (max-width: 767px) {
        padding: 8px 20px;
        font-size: 16px;
        line-height: 1;
        min-height: 39px;
      }

      span {
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          background: #B4B4B4;
          width: 1px;
          height: 34px;
          transform: translateY(-50%);

          @media screen and (max-width: 1023px) {
            height: 100%;
          }

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            height: vw(34px);
          }
        }
      }
    }

    &__title {
      color: #FFF;
      font-size: 70px;
      font-style: normal;
      font-weight: 300;
      line-height: 72px; /* 102.857% */
      margin-bottom: 12px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(70px);
        line-height: vw(72px); 
        margin-bottom: vw(12px);
      }

      @media screen and (max-width: 767px) {
        font-size: 38px;
        line-height: 42px;
      }
    }

    &__description {
      color: #FFF;
      font-size: 24px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;
      margin-bottom: 32px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(24px);
        margin-bottom: vw(32px);
      }

      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }

    &__footer {
      margin-top: auto;
      color: #FFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 24px;
      font-style: normal;
      font-weight: 350;
      line-height: normal;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(24px);
      }
    }

    &__logo {
      display: flex;
      width: 400px;
      height: 210px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      padding: 60px;
      margin-left: auto;
      background: rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(4px);

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        width: vw(400px);
        height: vw(210px);
        padding: vw(60px);
      }

      @media screen and (max-width: 1023px) {
        width: 226px;
        height: 118px;
        padding: 33px 33.44px 32.69px 34px;
        margin-left: 0;
        margin-bottom: 24px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 1023px) {
      display: none;
    }

    li {
      button {
        display: none;
      }
      width: 6px;
      height: 6px;
      background: #D9D9D9;

      &.slick-active {
        background: #fff;
        width: 12px;
        height: 12px;
      }
    }
  }


  &-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 5;
    transform: translateY(-50%);

    .slick-arrow {
      display: flex;
      width: 72px;
      height: 72px;
      padding: 20px;
      align-items: center;
      cursor: pointer;
      background: #FFF;
      transition: all $transition-duration ease-in-out;

      svg {
        width: 32px;
        height: 32px;
      }

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        width: vw(72px);
        height: vw(72px);
        padding: vw(20px);
      }

      &:hover {
        background: $black;
        color: #FFF;
      }
    }

    &__prev {
      border-right: 1px solid var(--Palette-gray-200, #E5E7EB);
    }

    &__next {
      border-left: 1px solid var(--Palette-gray-200, #E5E7EB);
    } 
  }
}