.reviews {
  padding: 50px 0 100px;

  @media screen and (min-width: 1024px) and (max-width: 1320px) {
    padding: vw(50px) 0 vw(100px);
  }

  @media screen and (max-width: 1023px) {
    padding-bottom: 80px;
  }

  &__title {
    color: #000;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 80px; /* 125% */
    margin-bottom: 24px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(64px);
      line-height: vw(80px); /* 125% */
      margin-bottom: vw(24px);
    }

    @media screen and (max-width: 1023px) {
      font-size: 36px;
      line-height: 46px; 
      margin-bottom: 12px;
    }
  }

  &__rate {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1023px) {
        align-items: flex-start;
        justify-content: space-between;
    }

    &-row {
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1023px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }



    &-number {
      color: #2F2F2F;
      font-family: "Nunito Sans";
      font-size: 64px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-right: 20px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(64px);
        margin-right: vw(20px);
      }

      @media screen and (max-width: 1023px) {
        font-size: 24px;
        margin: 0;

        span {
          font-size: 18px;
        }
      }
    }

    &-stars {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      margin-right: 32px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        gap: vw(6px);
        margin-right: vw(32px);
      }

      @media screen and (max-width: 1023px) {
        margin-right: 0;
        margin-top: 3px;
      }

      img {
        width: 40px;
        height: 40px;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          width: vw(40px);
          height: vw(40px);
        }

        @media screen and (max-width: 1023px) {
          width: 24px;
          height: 24px;
        }
      }
    }

    &-info {
      p {
        color: #2F2F2F;
        font-family: "Nunito Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: 0;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          font-size: vw(18px);
        }

        span {
          font-size: 24px;

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            font-size: vw(24px);
          }
        }
      }

      .icon {
        width: 128px;
        height: 49.618px;
        display: block;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          width: vw(128px);
          height: vw(49.618px);
        }

        @media screen and (max-width: 1023px) {
          display: inline;
          width: 83px;
          height: 32px;
        }
      }
    }
  }

  &__slider {
    position: relative;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      max-width: vw(1440px);
      margin-top: vw(32px);
    }

    &::before {
      background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 1) 25%, rgba(247, 247, 247, 1) 75%, rgba(255, 255, 255, 0) 100%);
      content: "";
      width: 15%;
      height: calc(100% - 15px);
      position: absolute;
      left: -6%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        height: calc(100% - vw(15px));
      }
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    &::after {
      background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(247, 247, 247, 1) 25%, rgba(247, 247, 247, 1) 75%, rgba(255, 255, 255, 0) 100%);
      content: "";
      width: 15%;
      height: calc(100% - 15px);
      position: absolute;
      right: -6%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        height: calc(100% - vw(15px));
      }
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      width: 52px;
      height: 52px;
      cursor: pointer;
      transition: $transition-duration;

    @media screen and (max-width: 1023px) {
      display: none;
    }
      

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        width: vw(52px);
        height: vw(52px);
      }

      &:hover {
        opacity: .6;
      }
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }
  }

  .slick-slide {
    opacity: .7;
    @media screen and (max-width: 1023px) {
      opacity: 1;
    }
    &.slick-center {
      opacity: 1;
    }
  }

  &__item {
    display: flex;
    width: 596px;
    padding: 50px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    background: #F7F7F7;
    margin: 7.5px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      width: vw(596px);
      padding: vw(50px) vw(40px);
      gap: vw(36px);
      margin: vw(7.5px);
    }

    @media screen and (max-width: 1023px) {
      width: 257px;
      padding: 20px;
    }

    p {
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 32px; /* 133.333% */
      margin-bottom: 36px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        font-size: vw(24px);
        line-height: vw(32px);
        margin-bottom: vw(36px);
      }

      @media screen and (max-width: 1023px) {
        font-size: 18px;
        line-height: normal;
        margin-bottom: 16px;
      }
    }
  }

  &__author {
    color: #737373;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(32px);
    }

    @media screen and (max-width: 1023px) {
      font-size: 22px;
    }
  }
}