.visit-our-showroom {
  &__title {
    font-size: 118px;
    font-style: normal;
    font-weight: 300;
    line-height: 111px; /* 94.068% */
    max-width: 671px;
    padding-left: 32px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(118px);
      line-height: vw(111px);
      max-width: vw(671px);
      padding-left: vw(32px);
    }
  }

  &__image {
    max-width: 1097px;
    min-height: 563px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      max-width: vw(1097px);
      min-height: vw(563px);
    }
  }

  &__text {
    color: #FFF;
    font-size: 60.603px;
    font-style: normal;
    font-weight: 300;
    line-height: 68.867px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px;
    transform: translateY(-100%);

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      font-size: vw(60.603px);
      line-height: vw(68.867px);
      gap: vw(20px);
      padding: vw(60px);
    }
  }

  &__cards {
    transform: translateY(-100%);
    max-width: 790px;
    margin-left: auto;
    margin-top: -110px;
    margin-bottom: -200px;

    @media screen and (min-width: 1024px) and (max-width: 1320px) {
      max-width: vw(790px);
      margin-top: vw(-110px);
      margin-bottom: vw(-200px);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background: #F8F8F8;
    height: 100%;

    &-text {
      padding: 40px;

      @media screen and (min-width: 1024px) and (max-width: 1320px) {
        padding: vw(40px);
      }

      h4 {
        color: $black;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 249px;

        @media screen and (min-width: 1024px) and (max-width: 1320px) {
          font-size: vw(32px);
          width: vw(249px);
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        li {
          color: $black;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 22px; /* 137.5% */
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0 24px;

          @media screen and (min-width: 1024px) and (max-width: 1320px) {
            font-size: vw(16px);
            line-height: vw(22px);
            gap: 0 vw(24px);
          }

          span {
            min-width: 115px;

            @media screen and (min-width: 1024px) and (max-width: 1320px) {
              min-width: vw(115px);
            }
          }
        }
      }
    }

    .btn {
      margin-top: auto;
      max-width: 100%;
      width: 100%;
    }
  }
}