<header class="catalogue-header">
  <div class="container-xxl">
    <ul class="breadcrumbs">
      <li><a href="#">Furniture</a></li>
      <li><a href="#">Living</a></li>
      <li>Living room</li>
    </ul>
    <h1 class="catalogue-header__title">Modern Sofas & sectionals <span>1 296 results</span></h1>

    {% include "../../partials/filters.njk" %}
  </div>
</header>